<div class="rewards-tables col-md-6">
    <div class="rewards-tables-content">
        <table class="rewards-table">
            <thead>
                <tr>
                    <td colspan="3">Poslední výplaty na bankovní účet</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>dnes</td>
                    <td class="rewards-price">120,4 Kč</td>
                    <td><strong>první</strong> výplata tohoto uživatele</td>
                </tr>
                <tr class="white-row">
                    <td>dnes</td>
                    <td class="rewards-price">1278,78 Kč</td>
                    <td><strong>první</strong> výplata tohoto uživatele</td>
                </tr>
                <tr>
                    <td>dnes</td>
                    <td class="rewards-price">35,46 Kč</td>
                    <td>celkem již má vyplaceno <strong>1200 Kč</strong></td>
                </tr>
                <tr class="white-row">
                    <td>dnes</td>
                    <td class="rewards-price">40,34 Kč</td>
                    <td>celkem již má vyplaceno <strong>120,85 Kč</strong></td>
                </tr>
                <tr>
                    <td>včera</td>
                    <td class="rewards-price">1111,84 Kč</td>
                    <td><strong>první</strong> výplata tohoto uživatele</td>
                </tr>
                <tr class="white-row">
                    <td>včera</td>
                    <td class="rewards-price">87 Kč</td>
                    <td>celkem již má vyplaceno <strong>4131,84 Kč</strong></td>
                </tr>
                <tr>
                    <td>1.11.2016</td>
                    <td class="rewards-price">1270,47 Kč</td>
                    <td>celkem již má vyplaceno <strong>1574,96 Kč</strong></td>
                </tr>
                <tr class="white-row">
                    <td>1.11.2016</td>
                    <td class="rewards-price">127,8 Kč</td>
                    <td><strong>první</strong> výplata tohoto uživatele</a></td>
                </tr>
                <tr>
                    <td>1.11</td>
                    <td class="rewards-price">41,5 Kč</td>
                    <td><strong>první</strong> výplata tohoto uživatele</a></td>
                </tr>
                <tr class="white-row">
                    <td>1.11.2016</td>
                    <td class="rewards-price">126 Kč</td>
                    <td>celkem již má vyplaceno <strong>847,54 Kč</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>