{block content}

<h2 n:block="title">Přehled provizí</h2>

<fieldset>
    <legend>Celkem</legend>
    {*control userSummaryList $userId*}
    {control userSummary $userId}
</fieldset>

<fieldset>
    <legend>Moje</legend>
    {control userSummary $userId, 'me'}
</fieldset>

<fieldset>
    <legend>Uživatelé</legend>
    {control userSummary $userId, 'slave'}
</fieldset>