{contentType text/xml}<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <url n:foreach="$stores as $store">
        <loc>{$baseUri}{plink Front:Store:detail $store->id}</loc>
    </url>
    <url n:foreach="$categories as $category">
        <loc>{$baseUri}{plink Front:Category:detail $category->id}</loc>
    </url>
    <url n:foreach="$extraUrls as $extraUrl">
        <loc>{$baseUri}{plink Front:$extraUrl}</loc>
    </url>
</urlset>
