{block content}
<div class="container">
    <h2 class="dot">O nás</h2>
    <p>Portál Vydelavejnakupem.cz je štědrý cashback portál. Užijte si své nákupy jak jste zvyklý a dostávejte za ně odměny! Vše zdarma, bez skrytých poplatků a bezpečně.
        Nabízíme až 15&nbsp;% z ceny nákupu zpět jako odměnu pro registrované zákazníky.
        Spolupracujeme s širokým spektrem oblíbených značek a obchodů.</p>
    <ul>
        <li>Registrace zdarma</li>
        <li>Žádné skryté poplatky</li>
        <li>Vysoké odměny za nákupy až 15&nbsp;%</li>
        <li>Vyplácení odměny bez minimálního limitu</li>
        <li>100% bezpečné</li>
        <li>Bez skrytých rizik</li>
        <li>Nejoblíbenější obchody</li>
        <li>Odměna za vámi přivedené uživatele 5&nbsp;%</li>
    </ul>

    <div>Zaregistrujte se ještě dnes a dostávejte odměny z vašich nákupů.</div>
    <a href="{plink Sign:register}" class="main-btn register-button">Chci se registrovat</a>
</div>
