{extends ../@layout.latte}

{var $robots = noindex}
{block #content}

<h2 n:block=title>Stránka nenalezena</h2>
<div class="container">
    <p>Požadovaná stránka nebyla nalezena. Je možné, že jste zadali nesprávnou adresu, nebo požadovaná stránka již neexistuje. </p>
    <p><small>chyba 404</small></p>
</div>
