{define cell-active}
    {$row->active ? 'ANO' : 'NE'}
{/define}

{define cell-users}
    {foreach $row->related("user_role") as $userRole}
        <span n:class="!$userRole->user->active ? strike">{$userRole->user->firstname} {$userRole->user->lastname}</span>{sep}, {/sep}
    {/foreach}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit open-in-fancybox" title="Editovat roli"></a>
    <a href="{plink switch $row->id}" title="{if $row->active}Smazat{else}Obnovit{/if}" class="glyphicon glyphicon-{if $row->active}remove{else}ok{/if}-circle"></a>
{/define}
