{snippet cookieBar}
<div class="alert alert-info cookie-bar" n:if="$userProject">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            Právě podporujete projekt <a href="{plink UserProject:detail $userProject->projectId}">{$userProject->title}</a>.&nbsp; 
            <a href="{link stopSupport!}" class="btn btn-xs btn-primary ajax">Přestat podporovat</a>
        </div>
    </div>
</div>
{/snippet}