{block content}

<div> 
    <h2 class="shopping-info-title">Jak to celé funguje?</h2>
{include ../_includes/infographic.latte}
</div>

{control favouriteStores}
{control latestStores}

{*control homepageStatistics*}

{*<div class="how container">
    <h2>Jak to u nás funguje?</h2>
    <div class="how-list col-md-5">
        <div class="how-list-line"><img src="{$basePath}/www/img/vyberte-obchod.png" alt="Vyberte obchod"><h3>1. Vyberte obchod</h3></div>
        <div class="how-list-line"><img src="{$basePath}/www/img/objednejte-zbozi.png" alt="Objednejte zboží" /><h3>2. Objednejte zboží</h3></div>
        <div class="how-list-line"><img src="{$basePath}/www/img/cast-penez.png" alt="Vrátíme Vám část peněz"><h3>3. Vrátíme Vám část peněz</h3></div>
    </div>
    <div class="how-img col-md-7">
        <img src="{$basePath}/www/img/how.png" alt="Jak to u nás funguje?">
    </div>
</div>*}

{*<div class="about container">
    <h2>O nás</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Aliquam ante. Vivamus luctus egestas leo. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Donec quis nibh at felis congue commodo. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Maecenas libero. Curabitur sagittis hendrerit ante. Fusce consectetuer risus a nunc. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. In dapibus augue non sapien.</p>
    <p>Fusce nibh. Proin mattis lacinia justo. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Integer tempor. Maecenas sollicitudin. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nullam dapibus fermentum ipsum. Duis risus. In convallis.</p>
</div>*}

{*control customersReviews*}
    
{control rewardsBox}
