{block content}
<div class="container" id="how-it-works-container">
    <h2>Jak funguje VydělávejNákupem.cz?</h2>
    <div>
        <h3>Měníme zvyky v nakupování!</h3>
        <ol>
            <li>
                <figure>
                    <strong>Zaregistrujte se zdarma</strong>
                    <figcaption>
                        Prostřednictvím <a href="{plink Sign:register}">registrace</a> si založte vlastní účet. Na účet vám budeme připisovat odměny za nákupy. Registrace trvá pouze minutku a zajistí vám využití všech našich výhod.
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <strong>Vyberte si obchod</strong>
                    <figcaption>
                        Najděte si svůj oblíbený obchod v naší <a href="{plink Store:}">nabídce</a>. Nakupujte s odměnou na nejoblíbenějších e-shopech českého internetu.
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <strong>Nakupujte s odměnou</strong>
                    <figcaption>
                        Na detailu obchodu klikněte na tlačítko PŘEJÍT A ZÍSKAT ODMĚNU a nakupujte tak, jak jste obvykle zvyklí. Prokliknutí přes tlačítko je základní krok k získání cashback odměny. Právě tímto krokem můžeme zaevidovat Váš nákup a připsat vám odměnu na účet. Vždy se ujistěte, že jste provedli nákup po prokliknutí tlačítka na našich stránkách.
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <strong>Připíšeme vám odměnu</strong>
                    <figcaption>
                        Po nákupu vám připíšeme odměnu na účet. Získáváte přímo peníze, ne žádné kupony nebo kredity. Odměna bude na Vašem účtě viditelná ve většině případů do 3 dní. Pro její výplatu je potřeba počkat, až  bude označená jako Potvrzená. Doba potvrzení se u každého obchodu liší, zpravidla bývá 30 až 120 dní.
                    </figcaption>
                </figure>
            </li>
    </div>

    <div>
        <h3>Jak to funguje v praxi?</h3>
        <p>Pokud našemu systému odměňování příliš nerozumíte, pomůže vám konkrétní příklad, díky kterému celý systém lépe pochopíte. Příklad popisuje nákup slečny Moniky, jež si vybrala novou kabelku a chce za nákup dostat odměnu od VydělávejNákupem.</p>
        {include ../_includes/infographic.latte}
    </div>
</div>