{define cell-published_to}
{if $cell}{$cell|date:'d.m.Y'}{/if}
{/define}

{define cell-published_from}
{if $cell}{$cell|date:'d.m.Y'}{/if}
{/define}

{define cell-active}
{if $row->active}Ano{else}Ne{/if}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit" title="Editovat kategorii"></a>
    <a href="{plink switch $row->id}" title="{if $row->active}Deaktivovat{else}Aktivovat{/if}" class="glyphicon glyphicon-{if $row->active}remove{else}ok{/if}-circle"></a>
{/define}

