{layout '@layout.latte'}

{var $iframe = TRUE}

{block head}
<link rel="stylesheet" href="{$baseUri}/www-rtsoft/css/iframe.css?v={$v}" type="text/css" />
<script type="text/javascript" src="{$baseUri}/www-rtsoft/js/iframe.js?v={$v}"></script>
{/block}

{block body-start}
<div class="fancy-header">
    <span class="glyphicon glyphicon-remove close-button" title="Zavřít" onclick="parent.$.fancybox.close();"></span>
    {block fancy-header}{/block}
</div>
{/block}
