<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{$title}">
        <meta name="robots" content="{$robots}" n:ifset="$robots">
        <meta name="author" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{$title}</title>

        {default $iframe = FALSE}

        <link rel="shortcut icon" href="{$baseUri}/www-rtsoft/favicon.ico">
        {linkCss 'www/styles.css'}
        {linkJs 'www/scripts.js'}

        {block head}{/block}        
    </head>

    <body>
        
        {block body-start}{/block}

        <nav n:if="!$iframe" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                
                {* ******************************* PRVNI RADEK ZAHLAVI ******************************* *}
                <div class="navbar navbar-top">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="{$baseUri}"><img src="{$baseUri}/www-rtsoft/img/logo.png" alt="FINGS Czech s.r.o." style="margin-top: -4px"/></a></li>
                    </ul>
                    
                    {* ******************************* MENU NAHORE VPRAVO ******************************* *}
                    <ul class="nav navbar-nav navbar-right">
                        {if $user->isLoggedIn()}
                            <li>
                                <p class="nav navbar-text">
                                    Přihlášen:
                                    <span class="settings-name">{$user->identity->email}</span>
                                </p>
                            </li>
                            <li n:class="$presenter->name == 'Profile' && $presenter->view == 'settings' ? active">
                                <a n:href="Profile:settings"><span class="profile">Změna údajů</span></a>
                            </li>
                            <li n:class="$presenter->name == 'Profile' && $presenter->view == 'password' ? active">
                                <a n:href="Profile:password"><span class="profile">Změna hesla</span></a>
                            </li>
                            {if $user->isInRole(\App\Enum\ERole::ADMIN)}
                            <li n:class="$presenter->name == 'Settings' ? active" title="Nastavení aplikace">
                                <a n:href="Settings:default"><span class="settings">Nastavení</span></a>
                            </li>
                            {/if}
                            <li n:class="$presenter->name == 'Help' ? active">
                                <a n:href="Help:default"><span class="">Nápověda</span></a>
                            </li>
                            <li>
                                <a n:href="Sign:out"><span class="logout">Odhlášení</span></a>
                            </li>
                        {else}
                            <li>
                                <a n:href="Sign:in"><span class="logout">Nepřihlášen</span></a>
                            </li>
                        {/if}
                    </ul>
                </div>
                    
                {* ******************************* DRUHY RADEK ZAHLAVI ******************************* *}
                <div n:if="$user->isLoggedIn()" id="navbar" class="navbar navbar-top">

                    {* MENU *}
                    
                    {control SmartMenu, name => 'right', 'class' => 'navbar-right'}
                    {control SmartMenu, name => 'left'}
                    
                </div>
            </div>
        </nav>

        {snippetArea flashMessagesWrapper}
        {include '../../../vendor/rtsoft/library/Templates/flashMessages.latte'}
        {/snippetArea}

        <div class="container">

            {include #content}
            
            {snippetArea refreshGridWrapper}
            {include '../../../vendor/rtsoft/library/Templates/refreshGrid.latte'}
            {/snippetArea}

        </div>
            
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" style="display:inline-block; float:left;">
                        <p>{= date("Y") } &copy; <a href="http://www.rtsoft.cz/" title="RTsoft.cz"></a> - Všechna práva vyhrazena</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="pull-right"><p>Vytvořil <a class="rtsoft-link" href="#" title="">FINGS Czech s.r.o.</a></p></div>
                    </div>
                </div>
            </div>
        </footer>

<script type="text/javascript">
var urlFetchItemsForWhisperer = {plink fetch-items-for-whisperer};
</script>

    </body>
</html>
