<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <script type="text/javascript" src="{$baseUri}/www/bower/jquery/dist/jquery.min.js?v={$v}"></script>
        
        {block head}{/block}
    </head>

    <body>
        
        {include content}
        
    </body>
</html>