<div class="shopping-info container">
    <div class="info-first col-sm-6 col-md-3">Monika ráda <strong>nakupuje módu</strong> přes internet</div>
    <div class="info-second col-sm-6 col-md-3">Protože <strong>chce ušetřit</strong>, přijde na Vydělávej nákupem, najde si tu e-shop ZOOT.cz a proklikne se přes odkaz do obchodu.</div>
    <div class="info-third col-sm-6 col-md-3">Na ZOOT.cz si <strong>koupí šaty</strong> za 1500 Kč</div>
    <div class="info-fourth col-sm-6 col-md-3"><strong>Dostane od nás odměnu</strong> 60 Kč za svůj nákup</div>
    <h2>Buďte chytří jako Monika!</h2>
</div>