{define cell-address}
{$row->street} 

{if !empty($row->land_registry_number) && !empty($row->house_number)}
{$row->land_registry_number}/{$row->house_number},
{elseif !empty($row->land_registry_number)}
{$row->land_registry_number},
{elseif !empty($row->house_number)}
{$row->house_number},
{/if}

{$row->city},

{$row->postcode},

{if !empty($row->state_id)}{$row->state->name}{/if}
{/define}

{define cell-phone}
{if !empty($row->phone_pre)}{$row->phone_pre} {/if}{$cell}
{/define}

{define cell-email}
<a href="mailto:{$cell}">{$cell}</a>
{/define}

{define cell-not_deleted}
{$row->not_deleted ? 'ANO' : 'NE'}
{/define}

{define cell-value}
{$cell|currency:2}
{/define}

{define cell-created}
{if !empty($cell)}{$cell->format("j.n.Y G:i")}{/if}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit" title="Editovat společnost"></a>
    <a href="{plink switch $row->id}" title="{if $row->not_deleted}Smazat{else}Obnovit{/if}" class="glyphicon glyphicon-{if $row->not_deleted}remove{else}ok{/if}-circle"></a>
{/define}

