{define cell-active}
{$row->active ? 'ANO' : 'NE'}
{/define}

{define cell-user_id}
{$row->user->email}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit" title="Editovat obchod"></a>
    <a href="{plink switch $row->id}" title="{if $row->active}Deaktivovat{else}Aktivovat{/if}" class="glyphicon glyphicon-{if $row->active}remove{else}ok{/if}-circle"></a>
    
{/define}

