<div class="rewards-tables col-md-6">
    <div class="rewards-tables-content">
        <table class="rewards-table">
            <thead>
                <tr>
                    <td colspan="3">Nejnovější odměny</td>
                </tr>
            </thead>
            <tbody>
                {foreach $commissions as $commission}
                <tr{if $iterator->isEven()} class="white-row"{/if}>
                    <td>{$commission->created|date:'d. m. Y'}</td>
                    <td class="rewards-price">{$commission->commission_value|getInCurrency|number:2:',':' '} Kč</td>
                    <td>za nákup na <a href="{plink Store:detail $commission->commission_log->advertiser->id}" title="">{$commission->commission_log->ref('advertiser')|storeName}</a></td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>