{block head}
    <script type="text/javascript">
        CKEDITOR.basePath = '/www/bower/ckeditor/';
    </script>
{/block}
{block content}

<a n:href="Store:default" class="btn btn-default btn-lg back"><span class="glyphicon glyphicon-arrow-left"></span>Zpět</a>

<h2 n:block="title">Editace obchodu - {$advertiser->{\App\Model\AdvertisersRepository::DB_COL_ADVERTISER_NAME} } <span title="Velikost cashbacku pro nás">({$advertiser->{\App\Model\AdvertisersRepository::DB_COL_CASHBACK_VALUE} } %)</span></h2>

{control form}
