<div class="customers">
    <h2>Co o nás říkají zákazníci</h2>
    <div class="customers-content">
        <div class="container">
            <div class="customer-single col-md-4">
                <img src="{$basePath}/www/img/avatar.jpg" title="spokojený zákazník">
                <span>Filip H.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
            </div>

            <div class="customer-single col-md-4">
                <img src="{$basePath}/www/img/avatar.jpg" title="spokojený zákazník">
                <span>Daivd D.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
            </div>

            <div class="customer-single col-md-4">
                <img src="{$basePath}/www/img/avatar.jpg" title="spokojený zákazník">
                <span>Vojtěch K.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
            </div>
        </div>
    </div>
</div>