{block content}
<div class="container">
    <h2>Lištička do prohlížeče</h2>
    
    <p>Také se Vám stane, že si něco koupíte a až pak si uvědomíte, že jste na tom mohli vydělat? 
        Nám už se to nestává. Používáme naší lištičku, která vždy upozorní, pokud na svém nákupu můžeme vydělat.
    Nainstalujte si ji i Vy a nepropásněte již žádnou šanci na odměnu z nákupu.
    </p>
    
    <div class="text-center">
        <span id="no-toolbar">Bohužel Váš prohlížeč není podporován. V současné době je lištička pouze pro prohlížeč Chrome.</span>
        <a id="chrome-toolbar" class="main-btn btn-install-toolbar" href="https://chrome.google.com/webstore/detail/vyd%C4%9Bl%C3%A1vej-n%C3%A1kupem/hfdkmfhiceokkmnmohmkkkpjicpbjjmc?hl=cs">Instalovat Chrome lištičku</a>
    </div>
    
    <div>
        <h3>Lištička v praxi</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8z_mybBXMbA" frameborder="0" allowfullscreen></iframe>
        <img class="img-responsive" src="{$basePath}/www/img/toolbar.png" alt="lištička v praxi" />
    </div>
</div>