{block content}
<div class="container">
    <h2 class="dot">Obchodní podmínky</h2>
    
    <h2>1. Všeobecná ustanovení</h2>
    
<ol>
<li>    
Provozovatelem internetového portálu <a href="/">www.vydelavejnakupem.cz</a> (dále jen „vydelavejnakupem.cz“) je společnost FINGS Czech s.r.o., se sídlem na adrese Tylova 473/27, Jižní Předměstí, 301 00 Plzeň, IČ: 05615798. (dále jen „Poskytovatel“). Kontaktní údaje Poskytovatele jsou uvedeny na Portálu vydelavejnakupem.cz. Portál <a href="{plink Default:}">vydelavejnakupem.cz</a> je internetovou stránkou, jejímž prostřednictvím je poskytována služba cashback, a skládá se z informací, služeb, obsahu a transakčních funkcí poskytovaných Poskytovatelem, jeho smluvními partnery či jinými třetími stranami. Součástí Portálu <a href="{plink Default:}">vydelavejnakupem.cz</a> je zejména přehled odkazů (linků) směřujících na (externí) internetové stránky prodávajících nebo poskytovatelů služeb a jeho uživatelská část.
</li>
<li>
Tyto Všeobecné obchodní podmínky upravují smluvní vztahy a vymezují práva a povinnosti mezi Poskytovatelem a Spotřebitelem ohledně služby definované a poskytované Poskytovatelem tak, jak je vymezena níže. Na Všeobecné obchodní podmínky je Spotřebitel dostatečným způsobem před vlastní registrací upozorněn a má možnost se s nimi seznámit. Obchodní podmínky jsou stanoveny obecně bez vztahu ke konkrétnímu Spotřebiteli a nediskriminačním způsobem při zachování rovného zacházení se všemi Spotřebiteli v České republice. Poskytovatel poskytuje službu pouze za podmínek stanovených v těchto Všeobecných obchodních podmínkách. 
</li>
<li>
Akceptací těchto Všeobecných obchodních podmínek, která předchází uzavření Smlouvy o poskytování Služby, Spotřebitel vyslovuje souhlas s použitím prostředků komunikace na dálku (elektronické pošty) pro uzavření smlouvy, jakož i pro veškeré její změny a zrušení a při veškeré související komunikaci s Poskytovatelem.
</li>
</ol>
 
<h2>2. Definice a interpretace</h2>
<ol>
<li>
Pro účely těchto Všeobecných obchodních podmínek mají níže uvedené termíny význam definovaný níže v tomto ustanovení.
Bonusy: představují finanční částky přidělované případně Poskytovatelem Spotřebiteli v souvislosti s Registrací a využíváním Portálu <a href="/">vydelavejnakupem.cz</a>; jejich přidělení a výplata se řídí těmito Všeobecnými obchodními podmínkami.
Cookies: znamená malé množství dat, které internetový server pošle internetovému prohlížeči, který je uloží na počítači Spotřebitele. Při každém dalším přístupu Spotřebitele k témuž serveru posílá prohlížeč tato data internetovému serveru. Tímto způsobem je zajištěna autentizace Spotřebitele přistupujícího k internetovému serveru Portálu <a href="/">vydelavejnakupem.cz</a>.
Kupní cena nebo cena služby znamená finanční částku v zákonných penězích České republiky, včetně příslušných daní a poplatků, za kterou Spotřebitel koupí zboží nebo získá službu od Prodávajícího nebo poskytovatele služby uvedeného v Katalogu.
Prodávajícím nebo poskytovatelem služby se rozumí podnikatel se sídlem nebo místem podnikání v České republice nebo mimo ní, který je provozovatelem internetového obchodu nebo obdobného systému umožňujícího vzdálenou nabídku a nákup zboží nebo nabídku, objednávku či poskytování služeb, který je smluvním partnerem Poskytovatele, poskytuje svým jménem a na svůj účet zboží nebo služby Spotřebiteli a informace, o jehož internetovém obchodě jsou uvedeny na <a href="/">vydelavejnakupem.cz</a>.
Registrací se rozumí pravdivé vyplnění všech údajů vyžadovaných registračním formulářem umístěným na Portálu <a href="/">vydelavejnakupem.cz</a> provedené Spotřebitelem a následné odeslání vyplněného formuláře ke zpracování Poskytovateli a její následná aktivace. Spotřebitel má možnost před vlastním odesláním vyplněného registračního formuláře zkontrolovat a případně změnit či opravit jím vyplněné údaje.
<br />
Sleva představuje finanční částku v zákonných penězích České republiky vypočtenou z Kupní ceny nebo ceny služby bez DPH, která může být v Katalogu vyjádřena procentem nebo pevnou částkou. Pro stanovení výše Slevy je rozhodující výše uvedená v Katalogu v den uskutečnění nákupu nebo objednání služby.
<br />
Službou se rozumí služba cashback, která představuje činnost Poskytovatele směřující k zajištění Slevy z Kupní ceny nebo ceny služby, kterou Spotřebitel zaplatil Prodávajícímu nebo poskytovateli služby, a to za podmínek specifikovaných v těchto Všeobecných obchodních podmínkách. Služba je Spotřebiteli poskytována bezplatně a s ohledem na její bezúplatný charakter je Služba nabízena pouze fyzickým osobám splňujícím definici Spotřebitele.

</li>
<li>
Pojmy v těchto Všeobecných obchodních podmínkách nedefinované se vykládají shodně jako termíny používané právním řádem České republiky v souladu s právem Evropské unie, a není-li jich, pak podle jejich obvyklému významu v dotčeném prostředí s přihlédnutím k dobré víře Spotřebitele a Poskytovatele.
</li>
</ol>
 
<h2>3. Smlouva o poskytování Služby a Všeobecné obchodní podmínky</h2> 
<ol>
<li>
Odesláním vyplněného registračního formuláře Spotřebitel výslovně stvrzuje, že se seznámil s těmito Všeobecnými obchodními podmínkami a že s nimi bezvýhradně a plně souhlasí. Tyto Všeobecné obchodní podmínky tvoří nedílnou součást smlouvy mezi Spotřebitelem a Poskytovatelem. Objednávku a nákup zboží či služeb lze uskutečnit pouze prostřednictvím Profilu Spotřebitele na <a href="/">vydelavejnakupem.cz</a>.
</li>
<li>
Smlouva o poskytování Služby je uzavírána v českém jazyce, nedohodnou-li se smluvní strany výslovně jinak.
</li>
<li>
Poskytovatel si vyhrazuje právo tyto Všeobecné obchodní podmínky kdykoliv změnit bez předchozího upozornění. Pro Spotřebitele jsou závazné vždy platné a účinné Všeobecné obchodní podmínky ve znění uveřejněném na <a href="/">vydelavejnakupem.cz</a> v den odeslání objednávky zboží či služeb Spotřebitelem Prodávajícímu nebo poskytovateli služby. Svůj případný nesouhlas s provedenou změnou Všeobecných obchodních podmínek musí Spotřebitel vyjádřit zasláním e-mailu Poskytovateli na e-mailovou adresu info@vydelavejnakupem.cz, a to nejpozději do 14 dnů od zveřejnění změněných Všeobecných obchodních podmínek. Vyslovení nesouhlasu se změnou Všeobecných obchodních podmínek se současně považuje za odstoupení od Smlouvy.
</li>
</ol> 

<h2>4. Registrace Spotřebitele</h2> 
<ol>
<li>
Registrace předchází uzavření Smlouvy o poskytování Služby. Registrace je určena výlučně pro fyzické osoby splňující definici Spotřebitele. Pro úspěšnou registraci je Spotřebitel povinen do registračního formuláře pravdivě a úplně vyplnit všechny údaje označené Poskytovatelem jako povinné. Tyto údaje slouží k identifikaci Spotřebitele jako smluvní strany a k řádnému plnění Smlouvy o poskytování Služby Poskytovatelem.
</li>
<li>
Jedna fyzická osoba je oprávněna se registrovat pouze jednou a její uživatelské jméno je jedinečné.
</li>
<li>
Registrace je dokončena její aktivací. Aktivaci provede Spotřebitel kliknutím na odkaz (link) umístěný v e-mailové zprávě zaslané Poskytovatelem Spotřebiteli, prostřednictvím níž je potvrzena registrace Spotřebitele.
</li>
</ol> 

<h2>5. Uzavření smlouvy a její obsah</h2>
<ol>
<li>
Smlouva o poskytování Služby je uzavřena okamžikem aktivace Registrace Spotřebitelem. Potvrzení o uzavření Smlouvy o poskytování Služby je Spotřebiteli sděleno prostřednictvím internetové stránky, která se zobrazí po kliknutí na odkaz, kterým Spotřebitel provádí aktivaci Registrace. Spotřebitel souhlasí s tím, aby Poskytovatel zahájil poskytování Služby ihned po uzavření Smlouvy o poskytování Služby.
</li>
<li>
Jedna fyzická osoba může uzavřít pouze jednu Smlouvu o poskytování Služeb a využívat pouze jeden Profil Spotřebitele.
</li>
<li>
Předmětem Služby je činnost Poskytovatele směřující k získání Slevy, která je podmíněná řádným a úplným uhrazením Kupní ceny nebo ceny služby Spotřebitelem Prodávajícímu nebo poskytovateli služby a zaplacením provize Prodávajícím nebo poskytovatelem služby Poskytovateli. Při splnění všech uvedených podmínek je Sleva za podmínek uvedených v těchto všeobecných obchodních podmínkách vyplacena Spotřebiteli. Poskytovatel vyplatí Spotřebiteli Slevu z částky, kterou obdrží jako provizi za nákup nebo objednávku uskutečněné Spotřebitelem u Prodávajícího nebo poskytovatele služby.
</li>
<li>
Poskytovatel není ani prodejcem ani dodavatelem zboží a služeb nabízených kterýmkoliv Prodávajícím. Obsahem Služby proto není mj. zajištění samotné transakce mezi Spotřebitelem a Prodávajícím nebo poskytovatelem služby. Poskytovatel a Spotřebitel konstatují, že se jedná výhradně o vztah mezi Spotřebitelem a Prodávajícím nebo poskytovatelem služby a Poskytovatel tudíž neodpovídá za jakost a množství/rozsah poskytnutého zboží či služeb, neručí za splnění závazků z transakce uskutečněné Spotřebitelem s Prodávajícím nebo poskytovatelem služby, ani nenese žádnou odpovědnost za škodu vzniklou v souvislosti s touto transakcí ani není subjektem povinností, které z takovéto transakce pro její strany vyplývají.
</li>
<li>
Poskytovatel rovněž nenese žádnou odpovědnost za zboží nebo služby, které budou poskytnuty Spotřebiteli ze strany Prodávajícího nebo poskytovatele služby, zejména za jejich bezpečnost či užitečnost. Spotřebitel bere na vědomí, že některé zboží nebo služby mohou být případně nebezpečné. Spotřebitel je plně odpovědný za svá rozhodnutí a činy při používání zboží a využívání služeb. Poskytovatel rovněž neposkytuje Spotřebitelům žádné poradenské služby týkající se zboží nebo služeb nabízených Prodejcem nebo poskytovatelem služby. Informace na <a href="/">vydelavejnakupem.cz</a> nepředstavují (ani nemohou být vykládána jako) prohlášení o vhodnosti výrobků a služeb pro jakýkoliv konkrétní účel.
</li>
<li>
Následující podmínky pro poskytování Služby musí být splněny současně: 
<ol>
<li>
Spotřebitel musí být přihlášen ke svému Profilu Spotřebitele; a
</li>
<li>
Spotřebitel využije k přístupu na internetové stránky Prodávajícího nebo poskytovatele služby odkaz (link) umístěný na <a href="/">vydelavejnakupem.cz</a>; a
</li>
<li>
Spotřebitel uskuteční nákup nebo objednávku zboží či služeb svým jménem na svůj účet; a
</li>
<li>
Prodávající nebo poskytovatel služby musí transakci zaznamenat, potvrdit a vyplatit provizi z tohoto nákupu nebo objednávky Poskytovateli; a
</li>
<li>
Spotřebitel nemá zakázáno používání Cookies ve svém internetovém prohlížeči a provedl opatření uvedená v Nápovědě.
</li>
</ol>
</li>
Poskytovatel vynaloží maximální úsilí, aby ve prospěch Spotřebitele dodatečně získal Slevu, Poskytovatel však neodpovídá za to, zda bude Sleva skutečně poskytnuta. Výše možné Slevy je závislá na podmínkách konkrétního Prodávajícího nebo poskytovatele služby a je orientačně uvedena na  <a href="/">vydelavejnakupem.cz</a>. Skutečná výše Slevy je vždy odvislá od konkrétní transakce, Spotřebiteli je Sleva nejprve připsána v rámci Profilu Spotřebitele.
</li>
<li>
Podmínky pro výplatu Slev či Bonusů (finančních prostředků připsaných Spotřebiteli v rámci Služby) jsou následující: 
<ol>
<li>
výplata bude provedena pouze formou bezhotovostního převodu ve prospěch tuzemského bankovního účtu Spotřebitele.
</li>
<li>
výplata se provádí výhradně v zákonných penězích České republiky;
</li>
<li>
výplata bude provedena pouze v případě, že celková částka v Profilu Spotřebitele v době výplaty bude větší nebo rovna částce minimální výplaty (25 Kč v případě částky za nákupy resp. 100 Kč včetně získaných bonusů). Pokud částka Slev a Bonusů za daný kalendářní měsíc nedosáhne minimální částky výplaty, dojde k jejímu převodu do následujícího období ,
</li>
<li>
náklady spojené s výplatou nese Spotřebitel;
</li>
<li>
Spotřebitel je povinen udržovat své údaje v Profilu Spotřebitele, nutné pro výplatu, úplné a správné. Pokud vzniknou Poskytovateli náklady s opětovnou výplatou z důvodu chybných či neúplných údajů pro výplatu, může být částka k výplatě snížena rovněž o náklady spojené s jejím opětovným zasláním na účet či adresu Spotřebitele. Poskytovatel není odpovědný za zaslání výplaty Spotřebiteli, pokud údaje pro výplatu nebyly správné či úplné;
</li>
<li>
pokud Spotřebitel provede změnu údajů nutných pro výplatu finančních prostředků, bude případná výplata z bezpečnostních důvodů (ochrana Spotřebitele) odložena o deset dnů oproti původně plánovanému termínu výplaty.
</li>
<li>
Spotřebitel uvede jedinečné číslo bankovního účtu, které se nesmí shodovat s bankovním účtem žádného jiného Spotřebitele.
</li>
</ol>
</li>
</li>
<li>
K výplatě Slev, Bonusů či jiných finančních prostředků Spotřebiteli nedojde zejména pokud: 
<ol>
<li>
Prodávající nebo poskytovatel služby neuhradil Poskytovateli provizi související s předmětnou transakcí Spotřebitele;
</li>
<li>
provizi vyplacenou Poskytovateli Prodávajícím nebo poskytovatelem služby nelze propojit s žádným Profilem Spotřebitele (zejm. pokud Spotřebitel nebyl v době návštěvy internetových stránek Prodávajícího nebo poskytovatele služby přihlášen ke svému Profilu Spotřebitele);
</li>
<li>
provize vyplacená Prodávajícím nebo poskytovatelem služby Poskytovateli je spojená s Profilem Spotřebitele, který byl zrušen/odstraněn;
</li>
<li>
provize vyplacená Prodávajícím nebo poskytovatelem služby Poskytovateli je spojená s transakcí označenou jako podvodná nebo pokud Spotřebitel porušil tyto Všeobecné obchodní podmínky nebo obchodní podmínky Prodávajícího nebo poskytovatele služby;
</li>
<li>
provize vyplacená Prodávajícím nebo poskytovatelem služby Poskytovateli je spojená s transakcí provedenou Spotřebitelem jménem nebo ve prospěch jiných osob;
</li>
<li>
dojde k odstoupení od smlouvy, na jejímž základě byla Sleva (a/nebo Bonus) připsána;
</li>
<li>
Spotřebitel neposkytnul součinnost nezbytnou pro realizaci výplaty finančních prostředků; nebo
</li>
<li>
Spotřebitel používá vícero registrovaných účtů. Pro každý účet na <a href="/">vydelavejnakupem.cz</a> lze použít pouze jeden bankovní účet. 
</li>
</ol>
</li>
<li>
Jestliže dojde k odstoupení od smlouvy uzavřené mezi Spotřebitelem na straně jedné a Prodávajícím nebo poskytovatelem služby na straně druhé a Spotřebiteli již byla v souvislosti s touto transakcí poskytnuta Sleva a/nebo Bonus a provedena jejich výplata, takto vyplacené prostředky je Spotřebitel povinen bezodkladně vrátit Poskytovateli (a to nejpozději do 7 dnů od obdržení výzvy Poskytovatele).
</li>
<li>
Poskytovatel je oprávněn kdykoliv bez předchozího upozornění změnit nebo zrušit nabídky na <a href="/">vydelavejnakupem.cz</a>.
</li>
</ol>
     
<h2>6. Bonusy</h2> 
<ol>
<li>
Poskytovatel je oprávněn přidělovat Spotřebitelům v souvislosti s Registrací a využíváním Portálu <a href="/">vydelavejnakupem.cz</a> Bonusy, které budou připsány Spotřebitelům v jejich Profilu Spotřebitele. Výplata Bonusů se řídí ustanoveními těchto Všeobecných obchodních podmínek.
</li>
<li>
Poskytovatel přidělí registrovaným Spotřebitelům následující Bonusy: 
<ol>
{*<li>
bonus ve výši …………,- Kč za doporučení Portálu <a href="/">vydelavejnakupem.cz</a> třetím osobám, pokud se rovněž zaregistrují na Portálu <a href="/">vydelavejnakupem.cz</a> a uskuteční během 3 měsíců po své Registraci jeho prostřednictvím nákup zboží či služeb, a to v hodnotě alespoň 1 000 Kč, za které bude připsán cashback. Bonusy mohou být vyplaceny pouze za doporučení jiných fyzických osob;
</li>*}
<li>
bonus ve výši 5 % z odměny jím doporučeného a registrovaného Spotřebitele za každý jeho uskutečněný nákup
</li>
<li>
další bonusy případně vyhlášené Poskytovatelem na internetových stránkách <a href="/">vydelavejnakupem.cz</a>
</li>
</ol>
</li>
</ol>
 
<h2>7. Trvání Smlouvy o poskytování Služby a její ukončení</h2> 
<ol>
<li>
Smlouva o poskytování Služby se uzavírá na dobu neurčitou.
</li>
<li>
Smlouvu o poskytování Služby lze ukončit dohodou uzavřenou mezi Poskytovatelem a Spotřebitelem, odstoupením od Smlouvy o poskytování Služby nebo výpovědí kteroukoliv ze smluvních stran. Vzájemné vypořádání bude provedeno do 60 dnů od ukončení Smlouvy o poskytování Služby, a to za podmínek specifikovaných v těchto Všeobecných obchodních podmínkách. Pokud Spotřebitel v průběhu 12 měsíců od Registrace nebo od posledního nákupu zboží nebo služeb přes Portál <a href="/">vydelavejnakupem.cz</a> neuskuteční prostřednictvím <a href="/">vydelavejnakupem.cz</a> žádný nákup, budou nevyplacené slevy a bonusy expirovány.
</li>
<li>
V případě výpovědi bude Smlouva o poskytování Služby ukončena k poslednímu dni kalendářního měsíce následujícího po doručení výpovědi druhé smluvní straně.
</li>
<li>
Poskytovatel je oprávněn od Smlouvy o poskytování Služby odstoupit v případě, že uživatel poruší ustanovení Smlouvy o poskytování Služby, resp. těchto Všeobecných obchodních podmínek, či jinak svým jednáním poškodí dobré jméno nebo oprávněné zájmy Poskytovatele nebo pověst Portálu <a href="/">vydelavejnakupem.cz</a>. V takovém případě má Poskytovatel nárok na náhradu škody a je oprávněn pohledávku z titulu náhrady škody započíst oproti případné pohledávce Spotřebitele na výplatu Slevy (Slev).
</li>
<li>
Poskytovatel má dále právo odstoupit od Smlouvy o poskytování Služby s účinky ke dni doručení odstoupení uživateli (ex nunc) jestliže se Portál <a href="/">vydelavejnakupem.cz</a> stane nezpůsobilým (právně či technicky) k poskytování Služby Poskytovatelem, Poskytovatel pozbude podnikatelské oprávnění k poskytování Služby, Spotřebitel požádá o odstranění svých osobních údajů z evidence Poskytovatele, nebo Spotřebitel v průběhu uplynulých 12 měsíců neuhradil řádně Kupní cenu nebo cenu služby. V případě odstoupení Smlouva o poskytování Služby zaniká dnem doručení odstoupení Spotřebiteli, resp. desátý den po odeslání odstoupení (prostřednictvím e-mailové zprávy na adresu uvedenou Spotřebitelem v jeho Profilu Spotřebitele).
</li>
<li>
Spotřebitel je podle § 53 odst. 7 občanského zákoníku oprávněn odstoupit od Smlouvy o poskytování Služby (uzavřené při použití prostředků komunikace na dálku) bez uvedení důvodu a bez jakékoliv sankce, a to ve lhůtě 14 kalendářních dnů od uzavření Smlouvy o poskytování Služby nebo v případě, že Poskytovatel provede změnu Všeobecných obchodních podmínek a Spotřebitel s takovou změnou vysloví nesouhlas.
</li>
<li>
Současně s ukončením Smlouvy o poskytování Služby bude znepřístupněn a následně odstraněn příslušný Profil Spotřebitele.
</li>
<li>
Výpověď či odstoupení od Smlouvy o poskytování Služby kteroukoli ze smluvních stran musí být učiněno písemnou formou, přičemž pro účely těchto Všeobecných obchodních podmínek se za dodržení písemné formy považuje též komunikace prostřednictvím elektronické pošty – e-mailu.
</li>
</ol>
 
<h2>8. Ochrana důvěrných informací, shromažďování, evidence a užití informací a dat vyplývajících z tohoto smluvního vztahu</h2>
<ol>
<li>
Poskytovatel a Spotřebitel považují za důvěrné veškeré informace o druhé straně, které vyplývají z tohoto smluvního vztahu, a tyto informace nesdělí či nezpřístupní třetí osobě bez písemného souhlasu druhé smluvní strany. Poskytovatel se při zpracování dat řídí zákonem č. 101/2000 Sb. o ochraně osobních údajů. Závazek mlčenlivosti platí po dobu 3 let po ukončení smlouvy. Pokud není stanoveno jinak, závazek mlčenlivosti se nevztahuje na:
<ul>
<li>
informaci o tom, že mezi stranami byla uzavřena smlouva;
</li>
<li>
podmínky pro poskytování služby;
</li>
<li>
poskytnutí identifikačních údajů a provozních dokladů, které mohou být předmětem obchodního tajemství, orgánům činným v trestním řízení nebo soudu v rámci soudního řízení vedeného mezi Spotřebitelem a Poskytovatelem;
</li>
<li>
informace vyžadované soudy, správními úřady, orgány činnými v trestním řízení, nebo auditory pro zákonem stanovené účely.
</li>
</ul>
<li>
Poskytovatel se zavazuje při zpracování osobních údajů dbát, aby Spotřebitel neutrpěl újmu na svých právech, a přijmout taková opatření, aby nedošlo k neoprávněnému nebo nahodilému přístupu k osobním údajům Spotřebitele, k jejich změně, zničení či ztrátě, neoprávněným přenosům, k jejich jinému neoprávněnému zpracování nebo k jinému zneužití osobních údajů.
</li>
<li>
Poskytovatel není bez výslovného souhlasu Spotřebitele oprávněn obsahově modifikovat jeho data ani zjišťovat obsah jeho elektronické pošty, vyjma případů, kdy je k této činnosti zplnomocněn a vyzván zmocněnými orgány (např. policie, soud apod.) nebo pokud pojme důvodné podezření na porušování smluvního vztahu ze strany uživatele.
</li>
<li>
Spotřebitel výslovně souhlasí se zasíláním e-mailových zpráv týkajících se objednaných služeb a prohlašuje, že tyto zprávy nejsou nevyžádanou korespondencí a nejsou nevyžádaným obchodním sdělením. Takový e-mail splňuje veškeré podmínky Zákona o regulaci reklamy č. 138/2002 Sb. a Zákona o některých službách informační společnosti č. 480/2004 Sb, a nelze jej považovat za nevyžádanou reklamu - spam.
</li>
</ol>

 
<h2>9. Závěrečná ustanovení</h2>
<ol>
<li>
Veškeré smluvní vztahy mezi Poskytovatelem a Spotřebitelem se řídí právními předpisy České republiky.
</li>
<li>
Smluvní vztahy Poskytovatele a Spotřebitele, které výslovně neupravuje Smlouva o poskytování Služby nebo tyto Všeobecné obchodní podmínky, se řídí zejm. zákonem č. 89/2012 Sb., občanským zákoníkem, v platném znění, a zákonem č. 634/1992 Sb., o ochraně spotřebitele, v platném znění.
</li>
<li>
Pokud se jakékoli ustanovení těchto Všeobecných obchodních podmínek stane neplatným či nevymahatelným, nebude to mít vliv na platnost a vymahatelnost ostatních ustanovení těchto Všeobecných obchodních podmínek. Poskytovatel a Spotřebitel se zavazují nahradit neplatné nebo nevymahatelné ustanovení novým ustanovením, jehož znění bude odpovídat úmyslu vyjádřenému původním ustanovením a těmito Všeobecnými obchodními podmínkami jako celkem.
</li>
<li>
Tyto Všeobecné obchodní podmínky jsou platné s účinností od 10.12.2016
</li>
</ol>
</div>