{block content}

<div class="jumbotron">
    <h1>Nette projekt</h1>
    <p>Toto je úvodní stránka.</p> 
</div>

<div class="jumbotron menu_buttons">
    <a class="menu_block" n:href="User:" title="Přehled uživatelů" n:if="$user->isInRole(\App\Enum\ERole::ADMIN)">
       Uživatelé
    </a>
    <a class="menu_block" n:href="Generator:" title="Generátor crudů" style="color:red">
       Generátor
    </a>
    <div class="reset"></div>
</div>