<div class="favourite container" n:snippet="favourite-block">
    <h2>Oblíbené obchody</h2>
    <div class="favourite-dlazdice">

        {foreach $stores as $store}
            {control storePreview $store}
        {/foreach}

    </div>
    <a href="{plink Store:}" title="Zobrazit všechny obchody" class="main-btn all-shops">Zobrazit všechny obchody</a>
</div>