<div class="favourite container" n:snippet="search-block">
    <h2>Nalezené obchody pro "{$keyword}"</h2>
    <div class="favourite-dlazdice">

        {foreach $stores as $store}
            {var $storeName = $store->advertiser_alias ? $store->advertiser_alias : $store->advertiser_name}
            {var $storeLogo = $store->{\App\Model\AdvertisersRepository::DB_COL_LOGO}; }
            {if $iterator->isOdd()}
            <div class="row">
            {/if}
            
                <div class="col-sm-5 store-card">
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="{plink Store:detail $store->id}" title="{$storeName}"><img src="{$basePath}/www/img/logos/{$storeLogo}" title="" alt="{$storeName}" /></a>
                        </div>
                        <div class="col-sm-7">
                            <b class="store-name">{$storeName}</b>
                            <div class=".store-desc">{$store->desc_short|striptags|noescape}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <b>{if !$store->cashback_const}až {/if}{$store->cashback_customer|number:2:',':''}{if $store->cashback_percent}%{else}Kč{/if}</b> 
                            <br/>zpět za nákup
                        </div>
                        <div class="col-sm-5">
                            <a href="{plink Store:detail $store->id}" class="btn btn-lg btn-success btn">Přejít do obchodu</a>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
                
            {if $iterator->isEven()}
            </div>
            <div class="row">
                &nbsp;
            </div>
            
            {/if}
        {/foreach}
    </div>

    <a href="{link showNextPage! $currentLimit}" title="Zobrazit další obchody" class="ajax main-btn all-shops" n:if="$enableNextPage">Zobrazit další obchody</a>

</div>