{var $robots = noindex}

{block content}

{form forgottenPasswordForm, class => "form-horizontal form-login", role => form}

    <h2>Zapomenuté heslo</h2>
    
    <div class="form-group">
        Zadejte svoje přihlašovací jméno nebo email:
    </div>
    
    <div class="form-group">
        {label username_or_email /}
        <div class="col-sm-10">
            {input username_or_email, class => form-control}
        </div>
    </div>

    <div class="form-group" n:ifset="$_form['captcha']">
        <div class="col-sm-10">
            {input captcha}
        </div>
    </div>
        
    <div class="form-group">        
        <div class="col-sm-10">
            {input send, class => "btn btn-lg btn-primary btn-block"}
        </div>
    </div>
        
    <div class="form-group">
        <br />
        Zpět na <a n:href="Sign:in">přihlášení</a>
    </div>
        
    {control $form errors}    
    
{* antispam reseni: http://blog.voracek.net/webove-stranky/captcha-ne-diky/ *}
<script type="text/javascript">
document.write('<input type="hidden" name="x_url" value="no' + 'spam">');
</script>
    
{/form}