{var $robots = noindex}

{block content}

{form signInForm, class => "form-horizontal form-login", role => form}
    
    <h2>Přihlášení</h2>
    
    <div class="form-group">
        {label username, class => "control-label col-sm-2" /}
        <div class="col-sm-8">
            {input username, class => form-control}
        </div>
    </div>
    <div class="form-group">
        {label password, class => "control-label col-sm-2" /}
        <div class="col-sm-8">          
            {input password, class => form-control}
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          {input remember}
        </div>
      </div>
    </div>
        
    {if $secureLoginEnabled}
    <div class="form-group" n:ifset="$form['code']">
        Připojeno z nepovolené sítě, je nutné zadat bezpečnostní kód:
    </div>
    <div class="form-group" n:ifset="$form['code']">
        {label code, class => "control-label col-sm-2" /}
        <div class="col-sm-10">          
            {input code, class => form-control}
        </div>
    </div>
    <div class="form-group" n:ifset="$noCodeRequired">
        Připojeno z povolené sítě, není nutné zadávat bezpečnostní kód.
    </div>
    {/if}
    
    <div class="form-group" n:ifset="$_form['captcha']">
        <div class="col-sm-10">
            {input captcha, style => "margin-left:8px"}
            {*<script type="text/javascript" src="{$baseUri}/recaptcha.js"></script> potreba pouze pokud neni js zpracovavany gulpem *}
        </div>
    </div>
        
    <div class="form-group">        
        <div class="col-sm-10">
            {input send, class => "btn btn-lg btn-primary btn-block"}
        </div>
    </div>
    <div class="form-group forgotten-password">
        <br />
        Zapomenuté heslo - klikněte <span onclick="window.location = {plink Sign:forgottenPassword};">sem</span>
    </div>
    <div class="form-group forgotten-password">
        <br />
        Registrace - klikněte <span onclick="window.location = {plink Sign:register};">sem</span>
    </div>
        
    {control $form errors}    
{/form}