{var $robots = noindex}

{block content}

{form resetPasswordForm, class => "form-horizontal form-login", role => form}

<div id="login_form">
    
    <h2>Nastavení hesla</h2>
    
    <div class="form-group">
        Zadejte nové heslo:
    </div>
    <div class="form-group">
        {label newPassword, class => "control-label col-sm-5" /}
        <div class="col-sm-7">
            {input newPassword, class => form-control}
        </div>
    </div>
    <div class="form-group">
        {label confirmPassword, class => "control-label col-sm-5" /}
        <div class="col-sm-7">          
            {input confirmPassword, class => form-control}
        </div>
    </div>
    <div class="form-group">        
        <div class="col-sm-12">
            {input set, class => "btn btn-lg btn-primary btn-block"}
        </div>
    </div>
        
    <div class="form-group">
        <br />
        Zpět na <a n:href="Sign:in">přihlášení</a>
    </div>
        
    {control $form errors}
    
</div>
    
{input id}
{input email}
{input t}
{input c}

{* antispam reseni: http://blog.voracek.net/webove-stranky/captcha-ne-diky/ *}
<script type="text/javascript">
document.write('<input type="hidden" name="x_url" value="no' + 'spam">');
</script>

{/form}