{if $summary}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Celkový počet</th>
                    <th>Období</th>
                    <th>Částka</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{$summary->count}</td>
                    <td>{$summary->from|date:'j.n.Y'} - {date('Y-m-d')|date:'j.n.Y'}</td>
                    <td>{$summary->amount|number:2:',':' '}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{elseif $type == 'slave'}
    Zatím nemáte žádné uživatelské nákupy.
{else}
    Zatím nemáte žádný vlastní nákup.
{/if}