<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{$title}">
        <meta name="robots" content="{$robots}" n:ifset="$robots">
        <meta name="author" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{$title} | cashback, vracíme peníze z nákupu</title>

        {default $iframe = FALSE}

        <link rel="shortcut icon" href="{$baseUri}/www/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&amp;subset=latin-ext" rel="stylesheet">
        {linkCss 'www/front-styles.css'}

        <script>
            var basePath = {$basePath};
        </script>

        {linkJs 'www/front-scripts.js'}

        <meta property="og:site_name" content="VydělávejNákupem.cz" />
        <meta property="og:url" content="{link '//this'}" />
        <meta property="og:image" content="{$baseUri}/www/img/og-img.png" />
        <meta property="fb:app_id" content="286518275076937" />
        {block fbog}
        <meta property="og:title" content="VydělávejNákupem - nakupuj chytře a vydělávej nákupem" />
        <meta property="og:description" content="Až 30 % z ceny nákupu zpět jako odměnu pro registrované zákazníky" />
        {/block}

        {block head}{/block}    

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-90140011-1', 'auto');
            ga('send', 'pageview');

        </script>
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)
                    return;
                n = f.fbq = function (){ n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if (!f._fbq)
                    f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '628175877377843', {
                em: 'insert_email_variable,'
            });
            fbq('track', 'PageView');
        </script>
    </head>

    <body id="body">
        {control leftBarBrowserExtension}
        {control leftBarProjects}
        {control cookieBar}
        {control projectBar}
        <header>

            <div class="top-header">
                <div class="container">
                    <div class="logo col-sm-7 col-md-5"><h1 id="logo"><a href="{plink Default:}"><img src="{$basePath}/www/img/vydelavej-nakupem.png" alt="Vydělávej nákupem"></a></h1></div>
                    <div class="user col-sm-5 col-md-7">
                        {if $user->isLoggedIn()}
                            <a n:href="Profile:settings" title="Můj účet" class="login-btn" id="login-submenu-btn">{$user->identity->email}</a>
                            {control userAccountState}   
                            <div class="profile-menu">
                                <a n:href="Profile:account">Moje konto</a>
                                <a n:href="Profile:invite">Pozvat přátele</a>
                                <a n:href="Profile:settings">Nastavení</a>
                                <a n:href="Sign:out">Odhlášení</a>
                            </div>
                        {else}
                            <a n:href="Sign:in $presenter->storeRequest()" title="Přihlášení/Registrace" class="login-btn">Přihlášení/Registrace</a>
                        {/if}
                        <div id="mobile-btn" class="burger-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            {control searchForm}
                    </div>
                </div>
            </div>  

            <div class="navigation">
                {block navigation}
                {control navigation}
                {/block}
            </div>
            {snippetArea flashMessagesWrapper}
                {include '../../../vendor/rtsoft/library/Templates/flashMessages.latte'}
            {/snippetArea}
            <div class="content">
                {include #content}
            </div>

            <footer>
                <div class="container">
                    <div class="col-sm-3 col-md-3">
                        <h3>Hlavní Kategorie</h3>
                        <ul>

                            <li n:foreach="$mainCategories as $category"><a href="{plink Category:detail $category->id}" title="{$category->title}">{$category->title}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <h3>Princip/nápověda</h3>
                        <ul>
                            <li><a href="{plink Default:howItWorks}" title="Jak to funguje">Jak to funguje</a></li>
                            <li><a href="{plink Faq:}" title="Časté dotazy">Časté dotazy</a></li>
                                {*<li><a href="/" title="Kontakt">Vstupní bonus</a></li>
                                <li><a href="/" title="Pro firmy">Pro firmy</a></li>
                                <li><a href="/" title="Reklamace">Reklamace</a></li>
                                <li><a href="/" title="Zákaznická podpora">Zákaznická podpora</a></li>*}
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <h3>Vydělávej nákupem</h3>
                        <ul>
                            <li><a href="{plink AboutUs:}" title="O nás">O nás</a></li>
                            <li><a href="{plink Contact:}" title="Kontakt">Kontakt</a></li>
                            <li><a href="{plink Toc:}" title="Obchodní podmínky">Obchodní podmínky</a></li>
                            <li><a href="{plink BrowserExtension:}" title="Lištička do prohlížeče">Lištička do prohlížeče</a></li>
                                {*<li><a href="/" title="Spolupráce">Spolupráce</a></li>
                                <li><a href="/" title="Partneři">Partneři</a></li>
                                <li><a href="/" title="Napsali o nás">Napsali o nás</a></li>
                                <li><a href="/" title="Hodnocení spokojenosti">Hodnocení spokojenosti</a></li>*}
                        </ul>
                    </div>
                    <div class="footer-find-us col-sm-3 col-md-3">
                        <h3>Najdete nás</h3>
                        <a class="footer-icons" target='_blank' href="https://www.facebook.com/Vydelavejnakupem.cz" title="Facebook"><img src="{$basePath}/www/img/fb-ico.png" alt="Facebook" /></a>
                            {* TODO zatím schováné soc. sítě
                            <a class="footer-icons" target='_blank' href="/" title="Google+"><img src="{$basePath}/www/img/google-ico.png" alt="Google+" /></a>
                            <a class="footer-icons" target='_blank' href="/" title="Instagram"><img src="{$basePath}/www/img/insta-ico.png" alt="Instagram" /></a>
                            *}
                    </div>

            </footer>

            <script type="text/javascript">
                $.nette.init();
            </script>            
    </body>
</html>
