<div
    style="
        position: absolute;
        z-index: 9999;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 45px;
        text-align: center;
        background-color: #4392d5;
        font-family: 'Arial';
        display: none; /* banner will be shown by JS according to cookie state */
    "
    id='vn-banner'
    >

    <div
        style="
            display: inline-block;
            -ms-transform: skew(-20deg, 0deg);
            -webkit-transform: skew(-20deg, 0deg);
            transform: skew(-20deg, 0deg);
            background-color: white;
            height: 100%;
        "
        >
        <div
        style="
            display: inline-block;
            -ms-transform: skew(20deg, 0deg);
            -webkit-transform: skew(20deg, 0deg);
            transform: skew(20deg, 0deg);
            line-height: 45px;
            padding-left: 20px;
            padding-right: 15px;
            color: #4392d5;
        "
        >
            <span
                style="
                
                "
                >
                Vydělávej
            </span>
            <span
                style="
                    font-weight: bold;
                "
                >
                nákupem
            </span>
        </div>
    </div>

    <div
        style="
            display: inline-block;
            padding-top: 13px;
            vertical-align: top;
            color: white;
            margin-left: 25px;
            margin-right: 25px;
            height: 100%;
            line-height: 1;
            font-size: 15px;
            box-sizing: border-box;
        "
        >
        
        {$text}
    </div>

    <a
        href="{$backurl}"
        style="
            background-color: white;
            text-decoration: none;
            color: red;
            border-radius: 4px;
            margin: 5px;
            padding: 9px;
            font-weight: bold;
            display: inline-block;
            margin-left: 25px;
            margin-right: 25px;
            height: 33px;
            line-height: 1;
            font-size: 15px;
            box-sizing: border-box;
            vertical-align: top;
        "
        >
        klikněte zde
    </a>

    <a
        href="#"
        class="front-short-notice-close"
        style="
            vertical-align: top;
            font-size: 30px;
            text-decoration: none;
            color: white;
            padding-top: 7px;
            display: inline-block;
            height: 100%;
            line-height: 1;
            box-sizing: border-box;
        "
        id='vn-banner-close'
        >&times;</a>
</div>
