<ul class="nav navbar-nav {$class}">
    {foreach $menu as $name => $item}
        {continueIf !$control->isLinkAllowed($item)}

        {if !$item['item']}
            <li n:class="$control->isLinkActive($item) ? active">
                <a href="{$control->getLinkHref($item)}">{$name}</a>
            </li>
        {else}
            <li class="dropdown{if $control->isLinkActive($item)} active{/if}">
                <a href="{$control->getLinkHref($item)}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {$name} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {foreach $item['item'] as $subName => $subItem}
                        <li n:if="$control->isLinkAllowed($subItem)" n:class="$control->isLinkActive($subItem) ? active">
                            <a href="{$control->getLinkHref($subItem)}">{$subName}</a>
                        </li>
                    {/foreach}
                </ul>
            </li>
        {/if}
    {/foreach}
</ul>