{form form, class => "form-horizontal form-login", role => form}
    
    <div class="form-group">
        <div n:foreach="$form->errors as $error" class="alert alert-warning flash" role="alert">
            <span class="glyphicon glyphicon-remove flash-close" onclick="$(this).parent().fadeOut();"></span>
            {$error}
        </div>
    </div>
    <div class="form-group">
        {label email, class => "control-label col-sm-2" /}
        <div class="col-sm-10">
            {input email, class => form-control}
        </div>
    </div>
    <div class="form-group">
        {label bank_wire, class => "control-label col-sm-2" /}
        <div class="col-sm-10">
            {input bank_wire, class => form-control}
        </div>
    </div>
    {ifset $form['password']}
    <div class="form-group">
        {label password, class => "control-label col-sm-2" /}
        <div class="col-sm-10">          
            {input password, class => form-control}
        </div>
    </div>
    {/ifset}
    {ifset $form['password2']}
    <div class="form-group">
        {label password2, class => "control-label col-sm-2" /}
        <div class="col-sm-10">          
            {input password2, class => form-control}
        </div>
    </div>
    {/ifset}
    {ifset $form['roles']}
    <div class="form-group">
        {label roles, class => "control-label col-sm-2" /}
        <div class="col-sm-10">          
            {input roles}
        </div>
    </div>
    {/ifset}

    <div class="form-group">   
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            {input save, class => "btn btn-primary btn-block"}
        </div>
        {ifset $form['agree_with_rules']}
        <div class="col-sm-6">
            <div class="checkbox">
                {input agree_with_rules}
            </div>
        </div>
        {/ifset}
    </div>
    
{/form}
<script type="text/javascript">

$(document).ready(function()
{
    // souhlas s pravidly
    var wwwRules = {$baseUri} + '/files/temp.txt';
    if ($("label[for='frm-registerForm-form-agree_with_rules']").length)
    {
        $("label[for='frm-registerForm-form-agree_with_rules']").html($("label[for='frm-registerForm-form-agree_with_rules']").html().replace("obchodními podmínkami", "&nbsp; <a href='" + wwwRules + "' onclick='window.open(this.href); event.stopPropagation(); return false;' style='position:absolute; z-index:1000;'>obchodními podmínkami</a>"));
    }
    
    // barvy
//    $("input[name='color']").colorpicker();
});

</script>

<style>
    
.col-sm-4.control-label
{
    white-space: nowrap;
}

.checkbox
{
    float:left;
    margin-right: 10px;
}

input[name='agree_with_rules']
{
    margin-left: 152px;
    margin-top: 9px;
}

img[name='image']
{
    height: 100px !important;
}
    
</style>
