{layout '@email.latte'}

{block content}

<p>
    Dobrý den,
</p>

<p>
    někdo (pravděpodobně vy) požadoval zaslat email s odkazem na resetování hesla pro přístup do projektu {$appTitle}.
</p>

<p>
    Pokud jste to byl vy, klikněte na následující odkaz:<br />
    <a href="{$url}">{$url}</a>
</p>

<p>
    V opačném případě tento email ignorujte.
</p>

<p>
    S pozdravem<br />
    {$config["fromName"]}
</p>