{layout '@email.latte'}

{block content}

<p>
    Dobrý den,
</p>

<p>
    byla provedena registrace v systému {$appTitle}.
</p>
    
<p>
    Vaši registraci je potřeba potvrdit kliknutím na tento odkaz:<br />
    <a href="{$url}">{$url}</a>
</p>

<p>
    S pozdravem<br />
    {$config["fromName"]}
</p>
