{block content}

<div class="container" n:snippet="favourite-block">
    <h2>Podporované projekty</h2>
    <p>Chcete-li udělat radost někomu jinému a podpořit tak dobrou věc, máme pro Vás možnost vybrat si libovolný projekt a tomu přenechat odměnu z nákupu.</p>
    <span>Jak na to?</span>
    <ol class="user-project-ol">
        <li>Vyberte si projekt, který chcete podpořit a proklikněte se na jeho detail.</li>
        <li>Klikněte na tlačítko "Podpořit projekt".</li>
        <li>Odměna je nyní připisována Vámi vybranému projektu.</li>
    </ol>
    
    <div class="favourite-dlazdice">

        {foreach $projects as $project}
                <div class="col-sm-3 project-preview">
                    <a href="{plink UserProject:detail $project->id}" title="{$project->title}">
                        <span>
                            <img src="{$imgUrl.$project->img|palette:'.project-preview'}" title="{$project->title}" alt="{$project->title}" />
                        </span>
                        <span class="project-name">
                            <strong>{$project->title}</strong>
                        </span>
                    </a>
                </div>
        {/foreach}
    </div>
{*
    <a href="{link showNextPage! $currentLimit}" title="Zobrazit další obchody" class="ajax main-btn all-shops" n:if="$enableNextPage">Zobrazit další obchody</a>
*}
</div>