{block content}
<div class="container">
    <h2>{$project->title}</h2>
    <div class="row">
        <div class="col-sm-4">
            <img class="project-detail-img" src="{$basePath}/www/img/projects/{$project->img}" title="{$project->title}" alt="{$project->title}" />
        </div>
        <div class="col-sm-8">
            <div>
            {$project->description}
            </div>
            <a href="{plink support! $project->id}" class="btn btn-lg btn-success">Podpořit projekt</a>
        </div>    
    </div>
</div>