<div class="dlazdice">
    {var $storeName = $store->{\App\Model\AdvertisersRepository::DB_COL_ADVERTISER_NAME}; }
    {var $storeLogo = $store->{\App\Model\AdvertisersRepository::DB_COL_LOGO}; }
    <a href="{plink Store:detail $store->id}" title="{$storeName}">
        {if $store->site_domain}<span class="store-lang">{$store->site_domain}</span>{/if}
        <img src="{$basePath}/www/img/logos/{$storeLogo}" title="{$storeName}" alt="{$storeName}" />
        
        <span class="store-price">{$store->cashback_customer} {if $store->cashback_percent}%{else}Kč{/if}</span>
    </a>
</div>