{block content}

<a n:href="User:add" class="btn btn-primary top-right-button"><span class="glyphicon glyphicon-plus-sign"></span> Přidat</a>
<a n:href="User:exportCsv" class="btn btn-info top-right-button"><span class="glyphicon glyphicon-download-alt"></span> Export do CSV</a>
<a n:href="User:exportXls" class="btn btn-info top-right-button"><span class="glyphicon glyphicon-download-alt"></span> Export do XLSX</a>

<h2 n:block="title">Přehled uživatelů</h2>

{control list}
