{layout '../@iframe.latte'}

{block fancy-header}Editace uživatele{/block}

{block content}

<a n:if="!$iframe" n:href="User:default" class="btn btn-default back"><span class="glyphicon glyphicon-arrow-left"></span>Zpět</a>

<h2 n:if="!$iframe" n:block="title">Editace uživatele</h2>

{control form}
