{block content}

<a n:href="Default:default" class="btn btn-default back"><span class="glyphicon glyphicon-arrow-left"></span> Zpět</a>

<h2 n:block="title">Výplaty uživatelů</h2>
	
{control payoutBackendList}
