
{define cell-parent_id}
{if $row->parent_id}{$row->ref('parent_id')->title}{else} - {/if}
{/define}

{define cell-active}
{if $row->active}Ano{else}Ne{/if}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit" title="Editovat kategorii"></a>
    <a href="{plink switch $row->id}" title="{if $row->active}Deaktivovat{else}Aktivovat{/if}" class="glyphicon glyphicon-{if $row->active}remove{else}ok{/if}-circle"></a>
{/define}

