{block head}
    <script type="text/javascript">
        CKEDITOR.basePath = '/www/bower/ckeditor/';
    </script>
{/block}
{block content}

<a n:href="Event:default" class="btn btn-default btn-lg back"><span class="glyphicon glyphicon-arrow-left"></span>Zpět</a>

<h2 n:block="title">Editace akce obchodu</h2>

{control form}
