{block content}
<div>
    <h2>Můj účet</h2>
    <div class="row" n:snippet="account-info">
        <div class="col-sm-6 col-sm-offset-3">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Počet přivedených uživatelů</td>
                        <td>{if $slavesCount}{$slavesCount->count()|number:0:',':' '}&nbsp;{else}0{/if}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Aktuální zůstatek</td>
                        <td>{$currentState|getInCurrency|number:2:',':' '}&nbsp;Kč</td>
                        <td class="col-sm-2"></td>
                    </tr>
                    <tr>
                        <td>Poslední odměna</td>
                        <td>{if $lastPositive}{$lastPositive->commission_value|getInCurrency|number:2:',':' '}&nbsp;Kč{else}-{/if}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Poslední výběr</td>
                        <td>{if $lastNegative}{(-1 * $lastNegative->commission_value)|getInCurrency|number:2:',':' '}&nbsp;Kč{else}{/if}</td>
                        <td>
                            {if $lastNegative}
                                {if $lastNegative->confirmed}
                                    <small class="text-success">{$lastNegative->updated|date:'j.n.Y'}</small>
                                {else}
                                    <small class="text-warning">čeká se</small>
                                {/if}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td>Odměna k vyplacení</td>
                        <td>{if $forPaycheck}{$forPaycheck|getInCurrency|number:2:',':' '}&nbsp;Kč{else}-{/if}</td>
                        <td>    
                            {if \VydelavejNakupem\Extension\LatteExtension::getInCurrency($forPaycheck) >= $presenter->getContextParameter('payLimit')}
                                <a n:href="payOut!" class="btn btn-sm btn-success">Požádat o výplatu</a>
                            {else}
                                <span class="btn btn-sm btn-warning">Pro výplatu chybí {round($presenter->getContextParameter('payLimit')- \VydelavejNakupem\Extension\LatteExtension::getInCurrency($forPaycheck), 2)} Kč.</span>
                            {/if}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>Poslední odměny</h2>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Obchod</th>
                        <th>Výše odměny</th>
                        <th>Typ odměny</th>
                    </tr>
                </thead>
                <tbody>
                    <tr n:foreach="$lastRewards as $lastReward">
                        <td>{$lastReward->created|date:'d.m.Y'}</td>
                        <td>{if $lastReward->commission_log->advertiser->advertiser_alias}{$lastReward->commission_log->advertiser->advertiser_alias}{else}{$lastReward->commission_log->advertiser->advertiser_name}{/if}</td>
                        <td>{$lastReward->commission_value|getInCurrency|number:2:',':' '}&nbsp;Kč</td>
                        <td>{\App\Enum\EUserAccountType::$types[$lastReward->type]}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>