{block content}
<div class="container">
    <h2>Pozvěte přátele a získejte pasivní příjem</h2>

    <div>
        {form registerLinkForm class=>"form-horizontal form-normal"}
            <div class="form-group">
                <div class="col-sm-2 control-label">{label register_url /}</div>
                <div class="col-sm-10">{input register_url class=>"form-control text"}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">{input copy_url, class=>"btn btn-primary button copy-url", data-clipboard-action=>"copy", data-clipboard-target=>'#'.$form['register_url']->getHtmlId()}</div>
            </div>
        {/form}
    </div>

    <div class="row" n:snippet="account-info">
        <div class="col-sm-4 col-sm-offset-0">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Počet přivedených uživatelů:</th>
                        <td>{if $slavesCount}{$slavesCount->count()|number:0:',':' '}&nbsp;{else}0{/if}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div>
            <h3>1. Sdílejte odkaz mezi svými přáteli</h3>
            Vždy používejte tento odkaz, pouze tak můžeme přiřadit Vámi přivedené uživatele.
        </div>

        <div>
            <h3>2. Vaši přátelé se zaregistrují na VydělávejNákupem.cz</h3>
            Počet všech uživatelů, kteří se registrovali pomocí Vašeho odkazu, uvidíte v sekci <a href="{plink Profile:account}">Moje konto</a>
            nebo <a href="{plink Profile:invite}">Pozvat přátele.</a>
        </div>

        <div>
            <h3>3. Získáváte peníze z nákupu svých přátel</h3>
            Z každého úspěšně provedeného nákupu Vašich přátel získáte odměnu ve výši 5&nbsp;% hodnoty odměny.
        </div>
    </div>

    <div>
        <h3>Kolik peněz můžu maximálně získat?</h3>

        Neexistuje limit, kolik si můžete celkem vydělat. Z každého úspěšného nákupu, který provedou Vámi přivedení uživatelé, získáte odměnu.    
    </div>
</div>