{block content}
<div>
    <h2>Nastavení</h2>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Profil</legend>
                <div class="col-sm-9">
                    {control userForm}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Změna hesla</legend>
                <div class="col-sm-9">
                    {control passwordForm}
                </div>
            </fieldset>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Doporučení</legend>
                <div class="col-sm-9">
                    {form registerLinkForm class=>"form-horizontal form-normal"}
                        <div class="form-group">
                            <div class="col-sm-4 control-label">{label register_url /}</div>
                            <div class="col-sm-8">{input register_url class=>"form-control text"}</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label"></div>
                            <div class="col-sm-8">{input copy_url, class=>"btn btn-primary button copy-url", data-clipboard-action=>"copy", data-clipboard-target=>'#'.$form['register_url']->getHtmlId()}</div>
                        </div>
                    {/form}
                </div>
            </fieldset>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Odhlášení</legend>
                <div class="col-sm-9 col-sm-offset-3">
                    <a n:href="Sign:out" class="btn btn-primary button">Odhlásit se</a>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
                &nbsp;
        </div>
    </div>
</div>