{block content}
<div class="container">
    <h2 class="dot">Kontakt</h2>
    <div id="contact-box">
        <strong class="content-subtitle">Portál VydělávejNákupem.cz provozuje:</strong>
        FINGS Czech s.r.o.<br>
        Tylova 473/27, 301 00<br>
        Plzeň - Jižní Předměstí<br>
        IČ: 05615798<br>
        <strong>Emailový kontakt:</strong> <a href="mailto:info@vydelavejnakupem.cz">info@vydelavejnakupem.cz</a>
    </div>
</div>
