{snippet cookieBar}
<div class="alert alert-info cookie-bar" n:if="$isCookieEnabled">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            Tento web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte. <a href="https://www.google.com/policies/technologies/cookies/">Více informací</a>. &nbsp;<a n:href="confrimCookieBar!" class="btn btn-xs btn-primary ajax">Rozumím</a>
        </div>
    </div>
</div>
{/snippet}