{snippet leftBarBrowserExtension}
<div class="alert alert-info left-bar-browserextension">
    <div class="left-bar-browserextension-content">
        <div class="left-bar-browserextension-text">
            <a href="{plink BrowserExtension:}">
            <img src="{$basePath}/www/img/og-img.png" alt="Vydělávej nákupem">
                Lištička do prohlížeče
            </a>
        </div>
    </div>
</div>
{/snippet}