{snippet leftBarProjects}
<div class="alert alert-info left-bar-projects">
    <div class="left-bar-projects-content">
        <div class="left-bar-projects-text">
            <a href="{plink UserProject:}">
                Podporované projekty
            </a>
        </div>
    </div>
</div>
{/snippet}