{define cell-created}
    {$cell->format("j.n.Y")}
{/define}

{define cell-roles}
    {foreach $row->related("user_role") as $userRole}
        <span n:class="!$userRole->role->active ? strike">{$userRole->role->title}</span>{sep}, {/sep}
    {/foreach}
{/define}

{define cell-name}
    {$row->firstname}
    {$row->lastname}
{/define}

{define cell-active}
    {$row->active ? 'ANO' : 'NE'}
{/define}

{define cell-image}
    {if !empty($cell)}<img style="max-height:50px" src="{$cell|dataStream}" />{else}Není{/if}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit open-in-fancybox" title="Editovat uživatele"></a>
    <a href="{plink switch $row->id}" title="{if $row->active}Smazat{else}Obnovit{/if}" class="glyphicon glyphicon-{if $row->active}remove{else}ok{/if}-circle" {if $row->active}onclick="return window.confirm('Opravdu chcete smazat uživatele?');"{/if}></a>
{/define}
