<a title="Můj účet" class="account-state" href="{plink Profile:account}">
    <span class="glyphicon glyphicon-stats"></span>&nbsp;<span n:class="$state >= 0 ? plus : minus">{$state|getInCurrency|number:2:',':' '}</span>&nbsp;Kč
</a>