{foreach $items as $item}
    <div class="event-box col-md-4 col-sm-6 col-xs-12">
        <div class="event-title">{$item->title}</div>
        <div class="event-description">{$item->description}</div>
        <div class="event-info">
            <div class="event-dates">
            {if $item->published_from}Platí od: <strong>{$item->published_from|date:'d.m.Y'}</strong><br>{/if}
            {if $item->published_to}Platí do: <strong>{$item->published_to|date:'d.m.Y'}</strong>{/if}
            </div>
            <div class="event-right">
            {if $user->isLoggedIn()}
                <span class="event-code">{$item->code}</span>
            {else}
                <a href="{plink Sign:in}" class="btn btn-success">Získat kód</a>
            {/if}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{/foreach}