{block content}

<a n:href="UserProject:add" class="btn btn-primary top-right-button"><span class="glyphicon glyphicon-plus-sign"></span> Přidat</a>

<h2 n:block="title">Podporované projekty</h2>

{control list}
