<div class="banner">
    <img src="{$basePath}/www/img/banner.jpg" alt="banner" /> 
    <div class="banner-content">
        <div class="col-sm-4 col-md-4">
            <span class="number">{$customersCount}</span>
            <span class="small">spokojených zákazníků</span>
        </div>
        <div class="col-sm-4 col-md-4">
            <span class="number">{$shopsCount}</span>
            <span class="small">eshopů</span>
        </div>
        <div class="col-sm-4 col-md-4">
            <span class="number">{round($savedMoney)|getInCurrency|number}<span class="little"> ,-Kč</span></span>
            <span class="small">ušetřených peněz</span>
        </div>
    </div>
    <div class="banner-bottom container"></div>
</div>