{block content}

{if $user->isInRole(\App\Enum\ERole::ADMIN)}
<a n:href="Company:add" class="btn btn-primary top-right-button"><span class="glyphicon glyphicon-plus-sign"></span> Přidat</a>
{/if}

<h2 n:block="title">Společnosti</h2>

{control list}
