{block content}

<a n:href="Company:default" class="btn btn-default btn-lg back"><span class="glyphicon glyphicon-arrow-left"></span>Zpět</a>

<h2 n:block="title">Editace společnosti</h2>

{control form}
