<div class="container">
    <ul class="main-navigation">
        {foreach $categories[NULL] as $category}
            <li>
                <a href="{plink Category:detail $category->id}" title="{$category->title}">{$category->title}</a>
                    <div class="submenu">
                        <div class="submenu-list col-md-6">
                            <ul>
                                <li><a href="{plink Category:detail $category->id}" title="Všechny obchody">Všechny obchody</a></li>
                                {ifset $categories[$category->id]}
                                {foreach $categories[$category->id] as $subcategory}
                                <li><a href="{plink Category:detail $subcategory->id}" title="{$category->title}">{$subcategory->title}</a></li>
                                {/foreach}
                                {/ifset}
                            </ul>
                        </div>
                        {ifset $topShops[$category->id]}
                        <div class="submenu-dlazdice col-md-6">
                            {foreach $topShops[$category->id] as $topShop}
                                {var $storeName = $topShop->advertiser_alias ? $topShop->advertiser_alias : $topShop->advertiser_name}
                                <div class="col-sm-4"><a href="{plink Store:detail $topShop->id}" title=""><img src="{$basePath}/www/img/logos/{$topShop->logo}" alt="{$storeName}" title="{$storeName}" /></a></div>
                            {/foreach}
                        </div>
                        {/ifset}
                    </div>
            </li>
        {/foreach}
    </ul>
</div>