{block content}

{if $user->isInRole(\App\Enum\ERole::ADMIN)}
<a n:href="Customer:add" class="btn btn-primary top-right-button"><span class="glyphicon glyphicon-plus-sign"></span> Přidat</a>
{/if}

<h2 n:block="title">Zákazníci</h2>

{control list, "xxxyyyzzz" }
{*control list, someData => ["a" => "Abcd", "b" => "Efgh"], x => 3 *}
