{layout '../@iframe.latte'}

{block fancy-header}Editace zákazníka{/block}

{block content}

<a n:if="!$iframe" n:href="Customer:default" class="btn btn-default back"><span class="glyphicon glyphicon-arrow-left"></span> Zpět</a>

<h2 n:if="!$iframe" n:block="title">Editace zákazníka</h2>

{control form}
