{block content}

{*<a n:href="Role:add" class="btn btn-primary top-right-button"><span class="glyphicon glyphicon-plus-sign"></span> Přidat</a>*}

<h2 n:block="title">Přehled rolí</h2>

{control list}
