<div class="container store-detail" n:snippet="favourite-block">
    {var $storeName = $store->advertiser_alias ? $store->advertiser_alias : $store->advertiser_name}
    {var $storeLogo = $store->{\App\Model\AdvertisersRepository::DB_COL_LOGO}; }
    <h2>{$storeName}</h2>
    <div>

            
            <div class="row">
                <div class="col-sm-5">
                    <div class="store-logo-container">
                    <img class="store-logo" src="{$basePath}/www/img/logos/{$storeLogo}" title="" alt="{$storeName}" />
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="store-desc">{$store->desc_full|noescape}</div>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                    Získejte <strong>{if !$store->cashback_const}až {/if}{$store->cashback_customer|number:2:',':''}&nbsp;{if $store->cashback_percent}%{else}Kč{/if}</strong> zpět z každého Vašeho nákupu.
                </div>
                <div class="col-sm-5">
                {if $store->account_status == \App\Enum\EAdvertAccountStatus::DEACTIVE}
                    <span class="btn btn-lg btn-danger">
                    Obchod může být dočasně nedostupný.
                    </span>
                {/if}    
                </div>
                <div class="col-sm-2">
                {if $project}
                    <a href="{$storeCommissionLink}?sid={$project->sid}" class="btn btn-lg btn-success">Přejít a podpořit projekt</a>
                {elseif $user->isLoggedIn()}
                    <a href="{$storeCommissionLink}?sid={$user->identity->sid}" class="btn btn-lg btn-success">Přejít a získat odměnu</a>
                {else}
                    <a href="{plink Sign:in $storeRequest}" class="btn btn-lg btn-success">Registrovat a získat odměnu</a>
                {/if}
                </div>
            </div>
            <div class="row">
                <h3>Jak postupovat pro získání odměny na {$storeName}?</h3>
                <ol>
                    {if !$user->isLoggedIn()}
                    <li>Registrujte se zdarma a začněte vydělávat nakupováním.</li>
                    {/if}
                    <li>Klikněte na tlačítko "Přejít a získat odměnu". Přejděte na web {$storeName} a nakupujte jako obvykle.</li>
                    <li>Připíšeme Vám odměnu. Na Vašem účtu v sekci <a href="{plink Profile:account}">Moje konto</a> se odměna objeví obvykle do 24&nbsp;h.</li>
                </ol>
                <span>Pokud si chcete přečíst podrobnější informace o nákupu, podívejte se na stránku <a href="{plink Default:howItWorks}">Jak to funguje</a>.</span>
            </div>
            <div class="row">
                <h3>Podmínky obchodu</h3>
                <p>{$store->desc_extra|noescape}</p>
                <p>Vaše odměna je vypočítána z částky, kterou zaplatíte za objednávku. Z této částky je obvykle odečteno DPH, hodnota dopravy a využité věrnostní odměny. Vlivem kurzového rozdílu může při nákupu v zahraničních obchodech dojít k drobným odchylkám při výpočtu odměny. Odměnu získáte také při nákupu za akční ceny. Naopak odměna nemusí být připsána, pokud využijete slevový kupón, který nepochází z našeho webu.</p>
            </div>
    </div>
</div>