{block content}
<div class="container">
    <h2 class="dot">Časté dotazy</h2>

    <div class="row faq-first">
        <div class="question-box col-md-6">
            <div class="question">Existují nějaké skryté náklady?</div>
            <div class="answer">Veškeré naše služby jsou na 100 % bez poplatků a registrace je zcela zdarma.</div>
        </div>
        
        <div class="question-box col-md-6">
            <div class="question">Jak dlouho trvá vyplácení odměny?</div>
            <div class="answer">
                Obvykle 3 až 5 pracovních dní.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="question-box col-md-6">
            <div class="question">Ovlivní zvolený způsob platby a doručení moji odměnu?</div>
            <div class="answer">Neovlivní, zvolte si libovolný druh dopravy a platby, odměnu vám vždy připíšeme. Tyto dodatečné náklady však nejsou zahrnuty do výpočtu odměny.</div>
        </div>

        <div class="question-box col-md-6">
            <div class="question">Jaká je minimální částka pro výplatu mojich peněz?</div>
            <div class="answer">
                Svoji odměnu za nákup si můžete vybrat již od 25 Kč.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="question-box col-md-6">
            <div class="question">Jaký je rozdíl mezi potvrzenou a nepotvrzenou odměnou?</div>
            <div class="answer">
                Nepotvrzená odměna – jedná se o výši vaší odměny z provedené objednávky. Pro výplatu této odměny musíme počkat na potvrzení obchodníkem.

                Potvrzená odměna – odměnu obchodník schválil, můžete si ji nechat vyplatit na svůj účet.
            </div>
        </div>
        
        <div class="question-box col-md-6">
            <div class="question">Mohu si prohlížet nabídky bez registrace?</div>
            <div class="answer">Jistě, nabídku obchodů si můžete prohlížet bez registrace. Můžete si vybírat dle zaměření obchodů, které jsou přehledně rozděleny do kategorií. Podívejte se na nejoblíbenější obchody našich zákazníků.</div>
        </div> 
    </div>

    <div class="row">
        <div class="question-box col-md-6">
            <div class="question">Jak si můžu nechat vyplatit odměnu?</div>
            <div class="answer">
                Po dosažení minimálního limitu pro výplatu se vám aktivuje tlačítko pro žádost o výplatu.
            </div>
        </div>

        <div class="question-box col-md-6">
            <div class="question">Za jak dlouho si musím své potvrzené odměny nechat vyplatit?</div>
            <div class="answer">
                 Odměny si můžete nechat připsat na účet kdykoliv. Peníze od nás nemají expirační lhůtu, počkají na vás i několik let.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="question-box col-md-6">
            <div class="question">Zboží jsem si objednal, ale nesedlo mi a nechal jsem si vráti peníze, musím na Vydělávej nákupem něco rušit?</div>
            <div class="answer">
                Pro tento případ slouží Nepotvrzená odměna. Pokud zboží vrátíte nebo vyzkoušíte a nezaplatíte, Nepotvrzená odměna bude zrušena. Nemusíte se tak o nic starat, vše bude za vás vyřešeno.
            </div>
        </div>

        <div class="question-box col-md-6">
            <div class="question">Je možné získat odměnu, i když jsem se zapomněl prokliknout přes VydělávejNákupem?</div>
            <div class="answer">
                 Bohužel zpětně bez prokliknutí pře naše stránky nelze připsat odměnu. Na váš olbíbený obchod se musíte dostat kliknutím na tlačítko “Přejít a záskat odměnu“. Toto je nutný krok pro získání odměny.
            </div>
        </div>
    </div>

    <div class="row">
         <div class="question-box col-md-6">
            <div class="question">Kdy a kde uvidím na svém účtu připsané peníze za nákup?</div>
            <div class="answer">
                Připsání odměny závisí na schválení partnerského obchodu a doba potvrzení se u každého obchodu liší.

                Výši odměny uvidíte v sekci Moje konto během u většiny obchodů do 3 dní. Toto bude registrovaní odměna, která bude čekat na potvrzení od našeho partnera.

                Potvrzení odměny, po kterém je možná výplata, probíhá zpravidla v rozmezí 30 až 120 dní.
            </div>
        </div>
    </div>

</div>
