{var $robots = noindex}

{block content}

{form forgottenPasswordForm, class => "form-horizontal form-login", role => form}
<div>
    <h2>Zapomenuté heslo</h2>
<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <fieldset>
            <legend>Zadejte svůj email</legend> 
            <div class="col-sm-12">        
                <div n:foreach="$form->errors as $error" class="alert alert-warning flash" role="alert">
                    <span class="glyphicon glyphicon-remove flash-close" onclick="$(this).parent().fadeOut();"></span>
                    {$error}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="{$form['username_or_email']->getHtmlId()}" class="control-label col-sm-3">email:</label>
                    <div class="col-sm-6">
                        {input username_or_email, class => form-control}
                    </div>
                </div>

                <div class="form-group" n:ifset="$_form['captcha']">
                    <div class="col-sm-10">
                        {input captcha}
                    </div>
                </div>

                <div class="form-group">        
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        {input send, class => "btn btn-primary"}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</div>
    
{* antispam reseni: http://blog.voracek.net/webove-stranky/captcha-ne-diky/ *}
<script type="text/javascript">
document.write('<input type="hidden" name="x_url" value="no' + 'spam">');
</script>
    
{/form}