{var $robots = noindex}
{block content}
<div class="container">
    <h2>Přihlášení/Registrace</h2>
    
    {form signInForm, class => "form-horizontal form-login", role => form}

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <fieldset>
                    <legend>Existující účet</legend> 

                    <div class="col-sm-12">
                        <div n:foreach="$form->errors as $error" class="alert alert-warning flash" role="alert">
                            <span class="glyphicon glyphicon-remove flash-close" onclick="$(this).parent().fadeOut();"></span>
                            {$error}
                            {if !empty($signInErroCode) && !empty($signInErroMail) && $signInErroCode == \Nette\Security\IAuthenticator::NOT_APPROVED}
                                {if !$registerMailSent}
                                    Nebo si nechte <a n:href="sendRegisterEmail $signInErroMail">poslat</a> registrační email znovu.
                                {else}
                                    Nebo kontaktujte podporu <a href="mailto:info@vydelavejnakupem.cz">info@vydelavejnakupem.cz</a>
                                {/if}
                            {/if}
                        </div>
                    </div>

                    <div class="form-group">
                        {label email, class => "control-label col-sm-3" /}
                        <div class="col-sm-6">
                            {input email, class => form-control}
                        </div>
                    </div>
                    <div class="form-group">
                        {label password, class => "control-label col-sm-3" /}
                        <div class="col-sm-6">          
                            {input password, class => form-control}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">          
                        </div>
                        <div class="col-sm-6">          
                            <div class="checkbox">
                                {input remember}
                            </div>
                        </div>
                    </div>

                    {if $secureLoginEnabled}
                        <div class="form-group" n:ifset="$form['code']">
                            Připojeno z nepovolené sítě, je nutné zadat bezpečnostní kód:
                        </div>
                        <div class="form-group" n:ifset="$form['code']">
                            {label code, class => "control-label col-sm-2" /}
                            <div class="col-sm-10">          
                                {input code, class => form-control}
                            </div>
                        </div>
                        <div class="form-group" n:ifset="$noCodeRequired">
                            Připojeno z povolené sítě, není nutné zadávat bezpečnostní kód.
                        </div>
                    {/if}

                    {*<div class="form-group" n:ifset="$_form['captcha']">
                        <div class="col-sm-10">
                            {input captcha, style => "margin-left:8px"}
                            {*<script type="text/javascript" src="{$baseUri}/recaptcha.js"></script> potreba pouze pokud neni js zpracovavany gulpem *}
                        {*</div>
                    </div>*}

                    <div class="form-group">   
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            {input send, class => "btn btn-primary"}
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <a n:href="Sign:forgottenPassword">Zapomenuté heslo</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    {/form}

    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Facebook</legend> 
                <div class="col-sm-9 col-sm-offset-3">
                    {control fbSiginButton}
                </div>
            </fieldset>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            &nbsp;
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Registrace</legend> 
                <div class="col-sm-9 col-sm-offset-3">
                    <a n:href="Sign:register" class="btn btn-primary button">Zaregistrovat</a>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            &nbsp;
        </div>
    </div>
</div>