{var $robots = noindex}

{block content}
<div class="container">
    <h2>Registrace</h2>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Nový účet</legend> 
                {control registerForm}
            </fieldset>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <fieldset>
                <legend>Facebook</legend> 
                <div class="col-sm-9 col-sm-offset-3">
                    {control fbSiginButton 'FB registrace'}
                </div>
            </fieldset>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            &nbsp;
        </div>
    </div>
</div>            

<div class="container container-dotted"> 
    <h2 class="shopping-info-title">Jak to celé funguje?</h2>
    {include ../_includes/infographic.latte}
</div>