{var $robots = noindex}

{block content}

<div>
    <h2>Nastavení hesla</h2>
    
{form resetPasswordForm, class => "form-horizontal form-login", role => form}

<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <fieldset>
            <legend>Zadejte nové heslo</legend> 
            <div class="col-sm-12">        
                <div n:foreach="$form->errors as $error" class="alert alert-warning flash" role="alert">
                    <span class="glyphicon glyphicon-remove flash-close" onclick="$(this).parent().fadeOut();"></span>
                    {$error}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    {label newPassword, class => "control-label col-sm-3" /}
                    <div class="col-sm-6">
                        {input newPassword, class => form-control}
                    </div>
                </div>
                <div class="form-group">
                    {label confirmPassword, class => "control-label col-sm-3" /}
                    <div class="col-sm-6">          
                        {input confirmPassword, class => form-control}
                    </div>
                </div>
                <div class="form-group">                
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        {input set, class => "btn btn-primary btn-block"}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
    
{input id}
{input email}
{input t}
{input c}
</div>

{* antispam reseni: http://blog.voracek.net/webove-stranky/captcha-ne-diky/ *}
<script type="text/javascript">
document.write('<input type="hidden" name="x_url" value="no' + 'spam">');
</script>

{/form}