{block content}

<h2 n:block="title">Nastavení</h2>

{control formSettings}

<script type="text/javascript">
$(document).ready(function()
{
    $("form[role='form']").removeClass("form-normal");
    $("form[role='form'] div.col-sm-4").removeClass("col-sm-4").addClass("col-sm-2");
});  
</script>