{define cell-commission_link}
{$row->commission_link ? 'ANO' : 'NE'}
{/define}

{define cell-active}
{$row->active ? 'ANO' : 'NE'}
{/define}
{define cell-browser_panel}
{$row->browser_panel ? 'ANO' : 'NE'}
{/define}
{define cell-cashback_percent}
{$row->cashback_percent ? 'ANO' : 'NE'}
{/define}
{define cell-cashback_const}
{$row->cashback_const ? 'ANO' : 'NE'}
{/define}
{define cell-show_in_menu}
{$row->show_in_menu ? 'ANO' : 'NE'}
{/define}
{define cell-account_status}
{ifset \App\Enum\EAdvertAccountStatus::$types[$cell]}
    {\App\Enum\EAdvertAccountStatus::$types[$cell]}
{else}
    {$cell}
{/ifset}
{/define}
{define cell-is_favourite}
{$row->is_favourite ? 'ANO' : 'NE'}
{/define}
{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit" title="Editovat obchod"></a>
    <a href="{plink switch $row->id}" title="{if $row->active}Deaktivovat{else}Aktivovat{/if}" class="glyphicon glyphicon-{if $row->active}remove{else}ok{/if}-circle"></a>
    
{/define}

