body{
    font-family: 'Hind', sans-serif;
    margin: 0;   
    color: #353434;
    font-size: 15px;
    font-weight: 300;
    background: #FFF;
    letter-spacing: 0.2px;
}

body div{
    box-sizing: border-box;
}

.content{
    min-height: calc(100vh - 504px);
    padding-bottom: 30px;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.logo h1{
    font-family: 'Comfortaa', cursive;
    font-size: 45px;
    color: #4392d5;
    line-height: 40px;
    letter-spacing: -2px;
    margin-top: 20px;
}

.logo h1 a{
    font-weight: 300;
    color: #4392d5;
}

.logo h1 a:hover{
    text-decoration: none;
}

.logo h1 a span{
    font-weight: 400;
}

.logo span.beta-title
{
    font-size: 30px;
    vertical-align: super;
    color: orange;
}

.top-header div{
    padding-left: 0;
    padding-right: 0;
}

.top-header .user a{
    float: right;
    margin-top: 35px;
    margin-bottom: 33px;
}

.top-header .user{
    padding-top: 3px;
}

.top-header .profile-menu{
    position: absolute;
    top: 65px;
    background: #f3f3f3;
    padding: 0px 30px;
    border: 1px solid #afafaf;
    z-index: 1000000;
    right: 0;
    display: none;
}

.top-header .user .profile-menu a{
    display: block;
    text-decoration: underline;
    color: #2f2e2e;
    float: none;
    margin-top: 21px;
    margin-bottom: 21px;
}

.top-header .user .profile-menu a:hover{
    color: #4392d5;
    text-decoration: none;
}

.search-form{
    float: right;
    position: relative;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 280px;
    margin-top: 35px;
    margin-right: 20px;
}

.search-form .search-input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 14.66px;
    padding-top: 2px;
    padding-left: 5px;
    background: #f6f6f6;
    border: 1px solid #dbdbdb;
}    

.search-input::-webkit-input-placeholder {
   color: #cac9c9;
}

.search-input:-moz-placeholder { /* Firefox 18- */
   color: #cac9c9;  
}

.search-input::-moz-placeholder {  /* Firefox 19+ */
   color: #cac9c9;  
}

.search-input:-ms-input-placeholder {  
   color: #cac9c9;  
}

.search-form .search-btn{
    width: 30px;
    height: 30px;
    background: url('../img/search.png') center no-repeat #4392d5;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    border: 1px solid #4392d5;
}

.search-form .search-btn:hover{
    background: url('../img/search.png') center no-repeat #599ad2;
    border: 1px solid #5db75d;
}

.navigation{
    background: #4392d5;
}

.burger-menu{
    display: none;
}

.main-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1085px;
    margin: auto;
}

.main-navigation li{
    display: block;
    padding: 10px 0;
    cursor: pointer;
    float: left;
}

.main-navigation li a{
    padding: 11px 20px 7px 20px;
    text-decoration: none;
    color: #FFF;
    font-size: 14.66px;
    display: block;
    border-left:1px solid #3d85c2;
    border-right:none;
}

.main-navigation li:first-child a{
    border-left: none;
}

.main-navigation li:hover, .main-navigation li.active{
    background: #599ad2;
}

.main-navigation li:hover a, .main-navigation li.active a{
    color: #2f2e2e;
}

.submenu{
    background: #ffffff;
    border: 1px solid #afafaf;
    border-top: none;
    position: absolute;
    left: 0;
    top: 58px;
    width: 100%;
    display: none;
    padding-bottom: 25px;
    cursor: inherit;
    z-index: 100;
}

.submenu ul li{
   display: inherit; 
   width: 240px;
   float: left;
   padding-top: 0;
   padding-bottom: 0;
}

.submenu ul li:hover{
   background: transparent;
}

.submenu ul li:hover a:hover{
   color: #4392d5;
   text-decoration: none;
}

.submenu ul li a{
    color: #000000;
    text-decoration: underline;
    border: none;
}

.submenu-dlazdice{
    padding-left: 0;
    text-align: center;
    padding-top: 15px;
}

.main-navigation li .submenu-dlazdice a{
    padding: 0;
    border: none;
    display: table-cell;
    height: 90px;
    vertical-align: middle;
    text-align: center;
}

.main-navigation li .submenu-dlazdice a img{
    max-width: 100%;
}

.submenu-list{
    padding-top: 30px;
}

.submenu-dlazdice img{
    max-width: 100%;
}

.navigation .container{
    position: relative;
}

.main-btn{
    color: #FFF;
    background: #4392d5;
    display: block;
    height: 30px;
    text-align: center;
    line-height: 32px;
    border-radius: 5px;
}

.main-btn:hover{
    text-decoration: none;
    background: #599ad2;
    color: #FFF;
}

.top-header .main-btn{
    font-size: 14.66px;
    width: 110px;
    margin-right: 15px;
}

.main-btn.all-shops{
    width: 210px;
    font-weight: 600;
    margin: auto;
    clear: both;
}

.main-btn.btn-install-toolbar{
    width: 210px;
    font-weight: 600;
    margin: auto;
    clear: both;
}

.top-header .user .login-btn{
    font-size: 14.66px;
    color: #000000;
    margin-top: 32px;
}

.top-header .user .login-btn:hover{
    color: #4392d5;
    text-decoration: none;
}

.top-header .user .login-btn:before{
    content: url('../img/login.png');
    margin-right: 5px;
    position: relative;
    top: 4px;
}

h2{
   font-size: 21.33px;
   color: #2c2c2c;
   font-weight: 500;
   text-align: center;
   margin-top: 35px;
   margin-bottom: 13px;
}

h3{
    font-size: 19px;
}

.favourite{
    padding-bottom: 45px;    
    background: url('../img/dot.png') top repeat-x;
}

.container-dotted{
    padding-bottom: 45px;    
    background: url('../img/dot.png') top repeat-x;
}


.banner{
    position: relative;
}

.banner-bottom{
    height: 4px;
    background: url('../img/dot.png') bottom repeat-x;
    padding-top: 23px;
}

.banner img{
    width: 100%;
}

.banner-content{
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 920px;
    border-radius: 5px;
    color: #4392d5;
    font-weight: 500;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.banner-content .number{
    font-size: 47.99px;
    border-bottom: 1px dashed  #4392d5;
    padding-left: 35px;
    padding-right: 35px;
}


.banner-content .number .little{
    font-size: 13.33px;
}

.banner-content .small{
    font-size: 18.66px;
    display: block;
    padding-top: 20px;
}

.about p{
    line-height: 28px;
    text-align: justify;
    margin-bottom: 30px;
}

.about p:last-child{
    margin-bottom: 25px;
}

.favourite-dlazdice{
    padding-left: 103px;
    padding-right: 103px;
    padding-top: 23px;
}

.dlazdice{
    width: 20%;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    margin-bottom: 30px;
}

.store-logo-container
{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    margin-bottom: 30px;
}

.dlazdice img{
    max-width: 100%;
}
  
.dlazdice a{
    border: 1px solid #afafaf;
    display: table-cell;
    width: 157px;
    max-width: 157px;
    height: 100px;
    text-align:center;
    padding: 20px;
    vertical-align: middle; 
    position: relative;
    background: url('../img/store-price.png') right bottom no-repeat;
}

.dlazdice a:hover{
    border: 1px solid #3c81bd;
}

.how{
    background: url('../img/dot.png') top repeat-x;
    padding-left: 85px;
}

.how h2{
    margin-top: 33px;
    padding-right: 85px;
}

.how-list{
    padding-top: 50px;
}

.how-list h3{
    font-size: 24px;
    font-weight: 500;
    color: #4392d5;
    padding-top: 15px;
}

.how-list img{
    float: left;
    margin-right: 25px;
    margin-bottom: 22px;
}

.how-list-line{
    clear: both;
}

.how-img{
    padding-right: 0;
    padding-bottom: 45px;
}

.about{
    background: url('../img/dot.png') bottom repeat-x;
}

h2.dot
{
    text-align: center;
    padding-bottom: 15px;
    background: url('../img/dot.png') bottom repeat-x;
}

.customers h2{
    margin-bottom: 30px;
}

.customers-content{
    background: #4392d5;
    color: #FFF;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.customers-content span{
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.customers-content p{
    line-height: 18.66px;
}

.customer-single{
    padding: 0 45px;
    background: url('../img/line.png') center right no-repeat;
}

.customers-content .customer-single:last-child{
    background: transparent;
}

.customer-single img{
    width: 140px;
    height: 140px;
}

.rewards{
    padding-bottom: 35px;
}

.rewards .container{
    background: url('../img/dot.png') top repeat-x;
}

.rewards h2{
    margin-bottom: 30px;
}

.rewards-tables{
    padding: 0 3px;
}

.rewards-table{
    width: 100%;
    vertical-align: middle;
    border-radius: 5px;
    font-family: 'Hind', sans-serif;
    background: #fbfbfb;
}

.rewards-tables-content{
    border-radius: 5px;
    border: 1px solid #4392d5;
}

.rewards-table thead{
    background: #4392d5;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
}   

.rewards-table thead tr{
    height: 80px;
    border-radius: 5px;
}

.rewards-table thead tr td{
    border-radius: 3px 3px 5px 5px;
}

.rewards-table tbody{
    border-radius: 5px;  
}

.rewards-table tbody tr{
    height: 35px;
    font-size: 13.33px;
    display: block;
    padding-top: 8px;
}

.rewards-table tbody tr td{    
    padding-left: 15px;
    padding-right: 15px;
    width: 120px;
}

.rewards-price{
    font-size: 14.66px;
    font-weight: 600;
    color: #1f1e1e;
}

.rewards-table .white-row:last-child{
    border-bottom: none;
    border-radius: 5px;
}

.rewards-table .white-row:last-child td{
    border-radius: 5px;
}

.rewards-table tbody tr td:first-child{
    width: 100px;
}
.rewards-table tbody tr td:last-child{
    width: 300px;
}

.rewards-table strong{
    color: #1f1e1e;
    font-weight: 600;
}

.white-row{
    background: #FFF;
    border-radius: 5px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.white-row td:first-child{
    border-radius: 5px 0 0 5px;
}

.white-row td:last-child{
    border-radius: 0 5px 5px 0;
}

.rewards-table a{
    color: #4392d5;
    text-decoration: underline;
    font-weight: 600;
}

.rewards-table a:hover{
    color: #599ad2;
}


footer{
    font-size: 13.3px;
    padding-top: 30px;
    padding-bottom: 25px;
    background: #4392d5;
    color: #cecccc;
    clear: both;
}

footer h3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: #e2dede;
}

footer a{
    color: #cecccc;
    text-decoration: underline; 
}     

footer a:hover{
    color: #FFF; 
}

footer ul{
     list-style-type: none;
     padding-left: 3px;
     line-height: 24px;
}

.footer-icons{
    display: block;
    margin-bottom: 27px;
    margin-left: 10px;
    width: 60px;
}

.footer-find-us .footer-icons:last-child{
    margin-bottom: 0;
}

.search-block{
    display: none;
}

ol li{
    padding-top: 5px;
    padding-bottom: 5px;
}

#contact-box{
    padding-bottom: 35px;
    padding-top: 20px;
}

.content-subtitle{
    display: block;
    margin-bottom: 10px;
}

.btn-primary{
    background: #4392d5;
    padding: 6px 12px 3px 12px;
    border: none;
    font-family: Hind,sans-serif;
}

.btn-primary:hover{
    background: #599ad2;
}

.logo img{
    margin-bottom: 23px;
}

.content .btn-primary{
    width: 135px;
}

.form-horizontal .control-label{
    text-align: left;
}

.form-horizontal .btn-primary .glyphicon{
    font-family: Hind,sans-serif;
}

.question-box{
    margin-bottom: 30px;
}

.question{
    font-weight: 800; 
}

.faq-first{
    padding-top: 30px;
}

.shopping-info{
    background: url('../img/infografika.png') center 8px no-repeat;
    height: 430px;
    background-size: contain;
    color: #666666;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 195px;
    font-weight: 300;
}

.shopping-info-title{
    margin-bottom: 0;
}

.info-first{
    padding-left: 25px;
    padding-right: 70px;
}

.info-second{
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 25px;
}

.info-third{
    padding-left: 60px;
    padding-right: 25px;
    margin-top: -15px;
}

.info-fourth{
    padding-left: 50px;
    padding-top: 75px;
}

.shopping-info h2{
    color: #38acef;
    padding-top: 45px;
    clear: both;
}

.store-lang{
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 16px;
    background: #00aeef;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border-radius: 30px;
    line-height: 15px;
}

.store-price{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    display: block;
    width: 50px;
    position: absolute;
    bottom: 2px;
    right: 0;
    text-align: center;
}

@media only screen and (max-width: 1600px) {
    /* left bars */
    .left-bar-browserextension-text, .left-bar-projects-text {
        font-size: 15px !important;
        width: 160px !important;
    }
    
    .left-bar-browserextension img {
        height: 80px !important;
    }
    
    .left-bar-browserextension {
        height: 135px !important;
    }
    
    .left-bar-projects {
        top: 450px !important;
    }
    /* left bars */
}   

@media only screen and (min-width: 1200px) {
    /* left bars */
    .left-bar-browserextension, .left-bar-projects {
        display: block !important;
    }
    /* left bars */
    
    .container{
        width: 1114px;
    }
}

@media only screen and (max-width: 1199px) {
    .main-navigation{
        width: auto;
    }
    
    .main-navigation li a{
        padding: 11px 14px 7px 14px
    }
    
    .dlazdice a{
        height: 81px;
        width: 120px;
        max-width: 120px;
    }
    
    .banner-content{
        top: 10%;
    }
    
    .how{
        padding-left: 25px;
    }
    
    .how h2{
        padding-right: 25px;
    }
    
    .about{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .rewards-table tbody tr td{
        width: 125px;
        padding-right: 0;
    }
    
    .rewards-table tbody tr td:first-child{
        width: 95px;
        padding-right: 0;
    }
    
    .rewards-table tbody tr td:last-child{
        width: 250px;
        padding-left: 0;
    }
    
    .search-form{
        margin-top: 35px;
        margin-right: 0;
        width: 282px;
        margin-bottom: 35px;
    }
    
    .top-header .user a{
        margin-bottom: 0;
    }
    
    .logo h1{
        margin-top: 48px;
    }
    
    .submenu ul li{
        width: 205px;
    }
    
    .info-first{
        padding-left: 0px;
        padding-right: 45px;
    }

    .info-second{
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 45px;
    }

    .info-third{
        padding-left: 50px;
        padding-right: 10px;
    }

    .info-fourth{
        padding-left: 30px;
        padding-right: 0px;
        padding-top: 65px;
    }
    
    .shopping-info{
        padding-top: 175px;
        height: 425px;
    }

}

@media only screen and (max-width: 991px) {
    .main-navigation li a{
        padding: 11px 5px 7px 5px;
        font-size: 14px;
    }
    
    .favourite-dlazdice{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .banner-content{
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        top: 15%;
    }
    
    .banner-content .number{
        font-size: 36px;
    }
    
    .top-header .user a.main-btn{
        clear: both;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    .top-header .user a{
        margin-top: 7px;
    }
    
    .top-header .user .login-btn{
        margin-bottom: 0px;
        margin-top: 2px
    }
    
    .logo h1{
        margin-top: 59px;
    }
    
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .navigation .container{
        padding-left: 0;
        padding-right: 0;
    }
    
    .how h2{
        padding-right: 0;
    }
    
    .how-img{
        display: none;
    }
    
    .how-list{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .how-list img{
        float: none;
        margin-right: 0;
        margin-bottom: 0;
    }
    
    .how-list h3{
        padding-top: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .customers-content{
        padding-bottom: 25px;
    }
    
    .rewards-tables-content{
        margin-bottom: 30px;
    }
    
    .rewards-table tbody tr td{
        width: 180px;
    }
    
    .rewards-table tbody tr td:first-child{
        width: 160px;
    }
    
    .rewards-table tbody tr td:last-child{
    }
    
    .rewards{
        padding-bottom: 5px;
    }
    
    .search-form{
        width: 100%;
        margin-top: 10px;
    }
    
    .submenu ul li{
        width: auto;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .submenu-dlazdice{
        display: none;
    }
    
    .shopping-info{
        background: transparent;
        height: auto;
        padding-top: 0;
    }
    
    .info-first{
        background: url('../img/info-first.png') center no-repeat;
        height: 220px;
        padding-top: 170px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .info-second{
        background: url('../img/info-second.png') center no-repeat;
        height: 220px;
        padding-top: 170px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .info-third{
        background: url('../img/info-third.png') center no-repeat;
        height: 220px;
        padding-top: 170px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
    }
    
    .info-fourth{
        background: url('../img/info-fourth.png') center no-repeat;
        height: 220px;
        padding-top: 170px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .shopping-info h2{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    
}

@media only screen and (max-width: 767px) {
    
    .logo{
        text-align: center;
    }
    
    .logo img{
        margin-bottom: 0;
        max-width: 100%;
    }

    .customer-single{
        background: transparent;
        padding-bottom: 30px;
    }
   
    .top-header div.burger-menu{
        display: block;
        color: #FFF;
        background: #4392d5;
        font-size: 20px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        padding-top: 4px;
        float: left;
        margin-top: 0;
        cursor: pointer;
        clear: both;
        text-align: center;
    }  
    
    .main-navigation{
        display: none;
    }
    
    .main-navigation li{
        float: none;
        text-align: center;
        padding: 0;
    }
    
    .main-navigation li a{
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #3d85c2;
        font-size: 16px;
    }
    
    .main-navigation li:first-child a{
        padding-top: 15px;
    }
    
    .main-navigation li:last-child a{
        border-bottom: none;
        padding-bottom: 15px;
    }
    
    .submenu{
        position: relative;
        display: none;
        border: none;
        padding: 0;
        top: 0;
    }
    
    .submenu ul li a{
        color: #FFF;
        border-bottom: 1px solid #3d85c2;
        text-decoration: none;
        font-size: 12px;
    }
    
    .main-navigation .sub-menu li:last-child a{
        border-bottom: 1px solid #3d85c2;
    }
    
    .submenu-list{
        padding: 0;
    }
    
    .submenu ul{
        padding: 0;
    }
    
    .submenu ul li{
        float: none;
        width: auto;
        background: #599ad2;
    }   
    
    .submenu-dlazdice{
        display: none;
    }
    
    .search-block, .top-header{
        border-bottom: 1px solid #dbdbdb;
        background: #FFF;
    }
    
    .logo h1{
        text-align: center;
        margin-top: 45px;
    }
    
    .top-header .user a.main-btn{
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .top-header .user .login-btn{
        float: none;
        margin-left: 15px;
        margin-top: 18px;
        display: inline-block
    }
    
    .user{
        width: 234px;
        margin: auto;
        margin-top: 0;
        text-align: right;
    }
    
    footer{
        text-align: center;
    }
    
    footer .container div{
        margin-bottom: 35px;
    }
    
    footer .container div:last-child{
        margin-bottom: 0;
    }
    
    footer h3{
        margin-bottom: 10px;
    }
    
    .banner-content{
        display: none;
    }
    
    .dlazdice{
        width: 50%;
    }
    
    .dlazdice a{
        height: 109px;
        width: 50%;
        max-width: 153px;
    }
    
    .dlazdice a img{
        max-height: 100%;
    }
    
    .rewards-table tbody tr td{
        width: 120px;
    }
    
    .rewards-table tbody tr td:first-child{
        width: 110px;
    }
    
    .rewards-table tbody tr td:last-child{
    }
    
    .footer-icons{
        margin: auto;
        margin-bottom: 27px;
    }
    
    .top-header .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .search-form{
        width: 235px;
    }
    
    .info-first{
        height: 200px;
    }
    
    .info-second{
        height: 200px;
        margin-bottom: 60px;
    }
    
    .info-third{
        height: 200px;
    }
    
    .info-fourth{
        height: 200px;
    }
    
    .shopping-info h2{
        padding-top: 0;
    }
    
    
}

@media only screen and (max-width: 530px) {
    .rewards-tables-content{
        overflow: scroll;
    }
    
    .rewards-table{
        width: 492px;
    }
    
    .dlazdice{
        width: 50%;
        text-align: center;
    }
}

@media only screen and (max-width: 499px) {
    .logo h1{
        line-height: 58px;
    }
}

.autocomplete-suggestions 
{ 
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto; 
}

.autocomplete-suggestion 
{ 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
}

.autocomplete-selected 
{ 
	background: #F0F0F0; 
}

.autocomplete-suggestions strong 
{
	font-weight: normal; 
	color: #3399FF; 
}

.autocomplete-group 
{ 
	padding: 2px 5px; 
}

.autocomplete-group strong 
{ 
	display: block; 
	border-bottom: 1px solid #000; 
}

.account-state
{
    top: 5px;
    color: black;
    margin-right: 8px;
    position: relative;
    text-decoration: none;
}

.account-state:hover
{
    text-decoration: none;        
}

.account-state .plus
{
    color: #5db75d;
}

.account-state .minus
{
    color: red;
}

.store-card img
{
    max-width: 150px;
    max-height: 60px;
}

.store-detail img.store-logo
{
    max-width: 150px;
    max-height: 60px;
}

#toc-agree
{
    padding-top: 13px;
}

.cookie-bar
{
    width: 100%;
    text-align: center;
}

/* left bars */
.left-bar-browserextension
{
    display: none;
    position: fixed;
    left: 0;
    top: 300px;
    height: 130px;
    z-index: 2;
}

.left-bar-browserextension img
{
    height: 70px;
    margin: auto;
    display: block;
}

.left-bar-browserextension-content
{
    text-align: center;
    height: 100%;
    position: relative;
}

.left-bar-browserextension-text
{
    width: 210px;
    font-size: 20px;
    font-weight: bold;
}

.left-bar-projects
{
    display: none;
    position: fixed;
    left: 0;
    top: 440px;
    height: 55px;
    z-index: 2;
}

.left-bar-projects-content
{
    height: 100%;
    position: relative;
}

.left-bar-projects-text
{
    width: 210px;
    font-size: 20px;
    font-weight: bold;
}
/* left bars */

.italic
{
    font-style: italic;
}

.main-btn.register-button
{
    width: 150px;
    margin: auto;
}

h1#logo 
{
    margin: 0;
}

.img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;
}

.project-preview span
{
    display: block;
    width: 180px;
    height: 135px;
}

.project-preview span img
{
    max-width: 180px;
    max-height: 135px;
}

.project-preview .project-name
{
    text-align: center;
    padding-top: 3px;
    height: 50px;
}

.project-detail-img
{
    width: 100%;
}


/*events*/
.event-box
{
    margin-bottom: 30px;
    padding: 3%;
}

.event-box .event-title
{
    font-weight: bold;
    font-size: 1.4em;
}

.event-box .event-info
{
    border-top: 1px solid #dbdbdb;
    padding-top: 2px;
    margin-top: 7px;
    padding-top: 7px;
}

.event-box .event-info .event-right
{
    float: right;
    text-align: right;
    margin-top: 5px;
}

.event-box .event-info .event-right
{
    font-size: 1.4em;
    font-weight: bold;
}

.event-box .event-dates
{
    display: inline-block;
}

.btn-success
{
    background-color: #4392d5;
    border-color: #ffffff;
}

.btn-success:hover
{
    background-color: #599ad2;
}

.user-project-ol
{
    padding-left: 15px;
}