{define cell-name}
{$row->lastname}
{$row->firstname|aaa}
{/define}

{define cell-user_id}
{$row->user->lastname} {$row->user->firstname}
{/define}

{define cell-address}
{$row->street}{if !empty($row->land_registry_number) && !empty($row->house_number)} {$row->land_registry_number}/{$row->house_number}{elseif !empty($row->land_registry_number)} {$row->land_registry_number}{elseif !empty($row->house_number)} {$row->house_number}{/if}{if !empty($row->city)},{/if} {$row->city}{if empty($row->street) && empty($row->city)}nezadána{/if}{if !empty($row->postcode)}, {/if}{$row->postcode}{if !empty($row->state_id)}, {/if}{if !empty($row->state_id)}{$row->state->shortcut}{/if}
{/define}

{define cell-phone}
{if !empty($row->phone_pre)}{$row->phone_pre} {/if}{$cell} {$xyz}
{/define}

{define cell-email}
<a href="mailto:{$cell}">{$cell}</a>
{/define}

{define cell-not_deleted}
{$cell ? 'ANO' : 'NE'}
{/define}

{define cell-created}
{$cell|date:"j.n.Y G:i"}
{/define}

{define cell-person_type}
{ifset \App\Enum\EPersonType::$items[$cell]}{\App\Enum\EPersonType::$items[$cell]}{/ifset}
{/define}

{define row-actions}
    <a href="{plink edit $row->id}" class="glyphicon glyphicon-edit open-in-fancybox" title="Editovat zákazníka"></a>
    <a href="{plink switch! $row->id}" title="{if $row->not_deleted}Smazat{else}Obnovit{/if}" class="ajax glyphicon glyphicon-{if $row->not_deleted}remove{else}ok{/if}-circle" {if $row->not_deleted}onclick="return window.confirm('Opravdu chcete smazat zákazníka?');"{/if}></a>
{/define}
